<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- MODAL :: 소셜계정 이메일 중복체크 -->
      <!-- <button class="modal_button" type="button" onclick="openModal(this, event)" data-modal="social-email-check"></button> -->
      <div class="modal-social-email-check modal" style="display: none">
        <div class="modal__dim" onclick="closeModal(this)"></div>
        <section class="modal__box">
          <div class="modal__header">
            <div class="modal__title">소셜계정 이메일 중복체크</div>
            <button class="modal__close-button white" type="button" onclick="closeModal(this)">
              <span class="blind">모달 닫기</span>
            </button>
          </div>
          <div class="modal__body default">
            <div class="modal__content">
              <p class="modal__text"><b>동일한 이메일 주소로 이미 가입정보가 존재 합니다.</b></p>
              <p class="modal__small-text">바드바이 멤버십 회원과 연동 후 서비스 이용해 주세요.</p>
              <p class="modal-social-email-check__desc">가입 이메일 주소 : abc***@gm***.com</p>
            </div>
            <div class="modal-button-wrap">
              <a href="../auth/index.html" class="basic-button__black-line">기존 계정으로 로그인</a>
              <a href="../signup/sns.html" class="basic-button__black">멤버십 연동 후 서비스 이용</a>
            </div>
          </div>
        </section>
      </div>

      <!-- START :: HEADER -->
      <header id="header"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <div id="main" class="signup-page">
        <div class="inner-width">
          <div class="top-content">
            <p class="sub-title">글로벌쇼핑의 탁월한 경험!</p>
            <h2 class="title">비드바이코리아 멤버십 가입</h2>
            <ol class="signup-order">
              <li class="signup-order-list">
                <div class="signup-order__num">Step<br /><b>01</b></div>
                <p class="signup-order__text">멤버십 혜택 및 약관</p>
              </li>
              <li class="signup-order-list active">
                <div class="signup-order__num">Step<br /><b>02</b></div>
                <p class="signup-order__text">가입 정보입력</p>
              </li>
              <li class="signup-order-list">
                <div class="signup-order__num">Step<br /><b>03</b></div>
                <p class="signup-order__text">멤버십가입완료</p>
              </li>
            </ol>
          </div>

          <div class="signup-inner">
            <section class="signup-banner">
              <ul>
                <li>
                  <div class="badge">멤버십 혜택1</div>
                  <p>꼼꼼한 현지 서비스</p>
                  <p><b>제품 검수 비용 무료!</b></p>
                </li>
                <li>
                  <div class="badge">멤버십 혜택2</div>
                  <p>국제 운송비 절감을 위한</p>
                  <p><b>묶음배송비 0원!</b></p>
                </li>
                <li>
                  <div class="badge">멤버십 혜택3</div>
                  <p>안전한 국제 운송을 위해</p>
                  <p><b>재포장비 전액 무료!</b></p>
                </li>
                <li>
                  <div class="badge">멤버십 혜택4</div>
                  <p>업계 최고! 최대 45dlf</p>
                  <p><b>창고보관료 무료!</b></p>
                </li>
              </ul>
            </section>

            <section class="signup-section">
              <ul class="signup-list">
                <li>
                  <h3 class="signup-title"><b>멤버십 가입 정보</b>(필수)</h3>
                  <ul class="signup-list-box">
                    <li class="basic-input">
                      <input type="text" placeholder="아이디 (4~12자, 영문 또는 숫자 가능)" required />
                    </li>
                    <li class="basic-input">
                      <input
                        type="password"
                        placeholder="비밀번호 (6~16자, 영문/숫자/특수문자 2가지 조합 필수)"
                        minlength="6"
                        maxlength="16"
                        required
                      />
                    </li>
                    <li class="basic-input">
                      <input type="password" placeholder="비밀번호 확인" minlength="6" maxlength="16" required />
                    </li>
                    <li class="basic-input">
                      <input type="text" placeholder="성명 (2~5자 이내로 입력 가능)" required />
                    </li>
                    <li class="basic-input">
                      <input type="email" placeholder="이메일 주소" required />
                    </li>
                    <li class="basic-input with-button">
                      <input type="text" placeholder="휴대전화번호" inputmode="numeric" required />
                      <a href="#" class="basic-button__light-gray-line">인증하기</a>
                    </li>
                    <li class="basic-input with-button">
                      <input type="text" placeholder="인증번호 입력" inputmode="numeric" required />
                      <button type="button" class="basic-button__light-gray-line">인증번호 확인</button>
                    </li>
                  </ul>
                </li>
                <li>
                  <h3 class="signup-title"><b>멤버십 혜택 추가 정보</b>(선택)</h3>
                  <ul class="signup-list-box">
                    <li class="signup-benefits">
                      <label for="">경매 종료 30분 전 알리미 서비스, 낙찰 및 결제 안내 메시지 전송 동의</label>
                      <ul class="consent-options">
                        <li>
                          <p class="consent-title">SMS 수신</p>
                          <div class="radio-check-button">
                            <input type="radio" name="sms" id="sms1" checked />
                            <label for="sms1"><span class="radio-check-button-icon"></span>동의</label>
                          </div>
                          <div class="radio-check-button">
                            <input type="radio" name="sms" id="sms2" />
                            <label for="sms2"><span class="radio-check-button-icon"></span>동의 안함</label>
                          </div>
                        </li>
                        <li>
                          <p class="consent-title">이메일 수신</p>
                          <div class="radio-check-button">
                            <input type="radio" name="email" id="email1" checked />
                            <label for="email1"><span class="radio-check-button-icon"></span>동의</label>
                          </div>
                          <div class="radio-check-button">
                            <input type="radio" name="email" id="email2" />
                            <label for="email2"><span class="radio-check-button-icon"></span>동의 안함</label>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="basic-input">
                      <input type="text" placeholder="일반전화번호" inputmode="numeric" />
                    </li>
                    <li class="signup-select-input">
                      <div class="basic-select-box gray">
                        <select name="" id="">
                          <option value="" disabled selected>출생년도</option>
                          <option>1999년</option>
                          <option>1999년</option>
                          <option>1999년</option>
                          <option>1999년</option>
                        </select>
                      </div>
                      <div class="basic-select-box gray">
                        <select name="" id="">
                          <option value="" disabled selected>월 선택</option>
                          <option>1월</option>
                          <option>2월</option>
                          <option>3월</option>
                        </select>
                      </div>
                      <div class="basic-select-box gray">
                        <select name="" id="">
                          <option value="" disabled selected>일 선택</option>
                          <option>1일</option>
                          <option>2일</option>
                          <option>3일</option>
                        </select>
                      </div>
                      <ul class="radio-button-wrap">
                        <li class="radio-check-button">
                          <input type="radio" name="birth" id="birth" checked />
                          <label for="birth"><span class="radio-check-button-icon"></span>양력</label>
                        </li>
                        <li class="radio-check-button">
                          <input type="radio" name="birth" id="birth" />
                          <label for="birth"><span class="radio-check-button-icon"></span>음력</label>
                        </li>
                      </ul>
                    </li>
                    <li class="basic-input with-button">
                      <input type="text" placeholder="추천인 등록 혜택" />
                      <a href="#" class="basic-button__light-gray-line">아이디 검색</a>
                    </li>
                    <li class="signup-desc">
                      추천인 등록시 회원님과 추천인에게 각각 대행료 할인쿠폰(5,000원권)을 지급해 드립니다.
                    </li>
                  </ul>
                </li>
                <li class="signup-path">
                  <h3 class="signup-title"><b>가입경로</b>(선택)</h3>
                  <div class="signup-list-box">
                    <label for="" class="signup-path-title">비드바이코리아를 어떻게 알고 가입하게 되셨나요?</label>
                    <div class="radio-button-wrap">
                      <div class="radio-check-button">
                        <input type="radio" name="sms" id="sms1" checked />
                        <label for="sms1"><span class="radio-check-button-icon"></span>네이버</label>
                      </div>
                      <div class="radio-check-button">
                        <input type="radio" name="sms" id="sms2" checked />
                        <label for="sms2"><span class="radio-check-button-icon"></span>기타</label>
                      </div>

                      <div class="basic-input etc-input">
                        <input type="text" placeholder="직접입력" />
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="signup-button-wrap">
                <a href="../auth/index.html" class="basic-button__black-line">가입 취소</a>
                <a href="../signup/complete.html" class="basic-button__blue"> 다음단계</a>
                <!-- 소셜계정 이메일 중복체크 -->
                <!-- <a
                  href="../signup/complete.html"
                  class="basic-button__blue modal_button"
                  onclick="openModal(this, event)"
                  data-modal="social-email-check"
                >
                  다음단계</a
                > -->
              </div>
            </section>
          </div>
        </div>
      </div>

      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
