<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/libary/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header" class="simple" data-title="이용약관"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <main id="main" class="cs-page cs-guide-page">
        <!-- 고객센터 DASHBOARD -->
        <section id="csDashboard" class="cs-dashboard cs-box"></section>

        <div class="inner-width">
          <!-- 비드바이 배송·통관·관세 안내-->
          <section class="cs-guide tabs-container">
            <h3 class="cs-title">
              <b>비드바이 배송·통관·관세 안내</b>
            </h3>
            <div class="guide__tabs tabs">
              <button type="button" class="active" data-idx="0">배송</button>
              <button type="button" data-idx="1">통관</button>
              <button type="button" data-idx="2">관세</button>
            </div>
            <ul class="guide__tabs-content tabs-content">
              <!-- 1 -->
              <li data-ids="0" class="guide-item__tab">
                <div class="guide__sub-tabs">
                  <button type="button" data-idx="0">현지배송</button>
                  <button type="button" data-idx="1">국제배송</button>
                  <button type="button" data-idx="2">국제배송사별 특징</button>
                  <button type="button" data-idx="3">국제배송 요금표</button>
                </div>
                <div class="guide__sub-tabs-content">
                  <div class="sub-content-wrap">
                    <p class="sub-content-title">파손/분실</p>
                    <p class="sub-content-desc">
                      출품자에게 물품가(낙찰가)와 함께 현지 배송료를 송금하면 출품자는 물품을
                      현지창고(일본:오사카/미국:LA/영국:런던)로 배송하게 됩니다.<br />
                      물품을 직접 가지러 가야 하는 경우는 대행의 범위에 들어가지 않습니다. 즉 출품자가 물품을 발송해
                      주는 경우만 대행이 가능합니다.
                    </p>
                  </div>
                  <div class="sub-content-wrap">
                    <p class="sub-content-title">국제배송</p>
                    <p class="sub-content-desc">
                      해외 물류센터에서 고객지정 주소지까지 상품이 배송되는 단계입니다.<br />
                      개별배송 또는 통합배송(배송대기)과 같은 배송형태 변경은 현지도착 전까지만 가능하며, 2차결제대기
                      상태에서는 배송형태 및 주소 변경 등이 불가하오니 양해바랍니다.<br />
                      <br />
                      물품을 받으신 경우 도착확인시 거래완료에 따른 등급포인트가 적립되며, 도착확인을 하지 않더라도
                      국제배송일 기준 30일이 지나면 자동 도착확인 처리되어 포인트가 적립됩니다. 추가문의는 고객센터 및
                      1:1문의를 통해 문의하시기 바랍니다.
                    </p>
                  </div>
                </div>

                <ul class="guide-list">
                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>개별배송</b>
                      <span>구매 건(件)별로 배송하는 방식</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>일반적으로 사용되는 배송형태</li>
                      <li>
                        현지도착 후 바로 국제배송되어<br />
                        빠르고 간단!
                      </li>
                    </ol>
                  </li>

                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>배송대기</b>
                      <span>배송형태 선택을 보류한 상태</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>개별/묶음 중 결정하지 못한 상황</li>
                      <li>
                        현지도착 전에 개별과 묶음 중<br />
                        하나를 필수 선택
                      </li>
                    </ol>
                  </li>

                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>묶음배송</b>
                      <span>여러 건의 상품을 묶어서 한꺼번에 배송하는 방식</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>여러 건을 한번으로 모아 배송하므로 비용 절감</li>
                      <li>묶음 가능 건수는<br />미국, 영국 10건 일본 15건으로 제한</li>
                    </ol>
                  </li>
                </ul>
              </li>
              <!-- 2-->
              <li data-ids="1" class="guide-item__tab" style="display: none">
                <div class="guide__sub-tabs">
                  <button type="button" data-idx="0">현지배송</button>
                  <button type="button" data-idx="1">국제배송</button>
                  <button type="button" data-idx="2">국제배송사별 특징</button>
                  <button type="button" data-idx="3">국제배송 요금표</button>
                </div>
                <div class="guide__sub-tabs-content">
                  <div class="sub-content-wrap">
                    <p class="sub-content-title">파손/분실</p>
                    <p class="sub-content-desc">
                      출품자에게 물품가(낙찰가)와 함께 현지 배송료를 송금하면 출품자는 물품을
                      현지창고(일본:오사카/미국:LA/영국:런던)로 배송하게 됩니다.<br />
                      물품을 직접 가지러 가야 하는 경우는 대행의 범위에 들어가지 않습니다. 즉 출품자가 물품을 발송해
                      주는 경우만 대행이 가능합니다.
                    </p>
                  </div>
                  <div class="sub-content-wrap">
                    <p class="sub-content-title">국제배송</p>
                    <p class="sub-content-desc">
                      해외 물류센터에서 고객지정 주소지까지 상품이 배송되는 단계입니다.<br />
                      개별배송 또는 통합배송(배송대기)과 같은 배송형태 변경은 현지도착 전까지만 가능하며, 2차결제대기
                      상태에서는 배송형태 및 주소 변경 등이 불가하오니 양해바랍니다.<br />
                      <br />
                      물품을 받으신 경우 도착확인시 거래완료에 따른 등급포인트가 적립되며, 도착확인을 하지 않더라도
                      국제배송일 기준 30일이 지나면 자동 도착확인 처리되어 포인트가 적립됩니다. 추가문의는 고객센터 및
                      1:1문의를 통해 문의하시기 바랍니다.
                    </p>
                  </div>
                </div>

                <ul class="guide-list">
                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>개별배송</b>
                      <span>구매 건(件)별로 배송하는 방식</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>일반적으로 사용되는 배송형태</li>
                      <li>현지도착 후 바로 국제배송되어 빠르고 간단!</li>
                    </ol>
                  </li>

                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>배송대기</b>
                      <span>배송형태 선택을 보류한 상태</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>개별/묶음 중 결정하지 못한 상황</li>
                      <li>현지도착 전에 개별과 묶음 중 하나를 필수 선택</li>
                    </ol>
                  </li>

                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>묶음배송</b>
                      <span>여러 건의 상품을 묶어서 한꺼번에 배송하는 방식</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>여러 건을 한번으로 모아 배송하므로 비용 절감</li>
                      <li>묶음 가능 건수는 미국, 영국 10건 일본 15건으로 제한</li>
                    </ol>
                  </li>
                </ul>
              </li>
              <!-- 3 -->
              <li data-ids="2" class="guide-item__tab" style="display: none">
                <div class="guide__sub-tabs">
                  <button type="button" data-idx="0">현지배송</button>
                  <button type="button" data-idx="1">국제배송</button>
                  <button type="button" data-idx="2">국제배송사별 특징</button>
                  <button type="button" data-idx="3">국제배송 요금표</button>
                </div>
                <div class="guide__sub-tabs-content">
                  <div class="sub-content-wrap">
                    <p class="sub-content-title">파손/분실</p>
                    <p class="sub-content-desc">
                      출품자에게 물품가(낙찰가)와 함께 현지 배송료를 송금하면 출품자는 물품을
                      현지창고(일본:오사카/미국:LA/영국:런던)로 배송하게 됩니다.<br />
                      물품을 직접 가지러 가야 하는 경우는 대행의 범위에 들어가지 않습니다. 즉 출품자가 물품을 발송해
                      주는 경우만 대행이 가능합니다.
                    </p>
                  </div>
                  <div class="sub-content-wrap">
                    <p class="sub-content-title">국제배송</p>
                    <p class="sub-content-desc">
                      해외 물류센터에서 고객지정 주소지까지 상품이 배송되는 단계입니다.<br />
                      개별배송 또는 통합배송(배송대기)과 같은 배송형태 변경은 현지도착 전까지만 가능하며, 2차결제대기
                      상태에서는 배송형태 및 주소 변경 등이 불가하오니 양해바랍니다.<br />
                      <br />
                      물품을 받으신 경우 도착확인시 거래완료에 따른 등급포인트가 적립되며, 도착확인을 하지 않더라도
                      국제배송일 기준 30일이 지나면 자동 도착확인 처리되어 포인트가 적립됩니다. 추가문의는 고객센터 및
                      1:1문의를 통해 문의하시기 바랍니다.
                    </p>
                  </div>
                </div>

                <ul class="guide-list">
                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>개별배송</b>
                      <span>구매 건(件)별로 배송하는 방식</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>일반적으로 사용되는 배송형태</li>
                      <li>현지도착 후 바로 국제배송되어 빠르고 간단!</li>
                    </ol>
                  </li>

                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>배송대기</b>
                      <span>배송형태 선택을 보류한 상태</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>개별/묶음 중 결정하지 못한 상황</li>
                      <li>현지도착 전에 개별과 묶음 중 하나를 필수 선택</li>
                    </ol>
                  </li>

                  <li class="guide-list__item">
                    <p class="guide-list__title">
                      <b>묶음배송</b>
                      <span>여러 건의 상품을 묶어서 한꺼번에 배송하는 방식</span>
                    </p>
                    <ol class="guide-list__details">
                      <li>여러 건을 한번으로 모아 배송하므로 비용 절감</li>
                      <li>묶음 가능 건수는 미국, 영국 10건 일본 15건으로 제한</li>
                    </ol>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </div>
      </main>
      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
