<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/libary/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/libary/Sortable.min.js"></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <main id="main" class="cs-page cs-main-page">
        <!-- 고객센터 DASHBOARD -->
        <section id="csDashboard" class="cs-dashboard cs-box"></section>

        <div class="inner-width">
          <!-- 자주하는 질문-->
          <section class="cs-faq tabs-container">
            <h3 class="cs-title">
              <b>자주하는 질문</b>
              <div class="title-utils">
                <div class="basic-select-box">
                  <select name="" id="">
                    <option>전체1</option>
                    <option>전체2</option>
                    <option>전체3</option>
                  </select>
                </div>
                <div class="basic-input">
                  <input type="search" />
                </div>
                <button type="button" class="basic-button__gray">검색</button>
              </div>
            </h3>
            <div class="faq__tabs tabs">
              <button type="button" class="active" data-idx="0">경매대행</button>
              <button type="button" data-idx="1">구매대행</button>
              <button type="button" data-idx="2">배송/통관/관세</button>
              <button type="button" data-idx="3">취소/환불/반품/교환</button>
              <button type="button" data-idx="4">파손/분실</button>
              <button type="button" data-idx="5">비용/결제</button>
              <button type="button" data-idx="6">회원서비스</button>
              <button type="button" data-idx="7">기타</button>
            </div>
            <ul class="faq__tabs-content tabs-content">
              <!-- 1 -->
              <li data-ids="0" class="faq-item__tab">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 1 -->
              <li data-ids="1" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 2 -->
              <li data-ids="2" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 3 -->
              <li data-ids="3" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 4 -->
              <li data-ids="4" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 5 -->
              <li data-ids="5" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 6 -->
              <li data-ids="6" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
              <!-- 7 -->
              <li data-ids="7" class="faq-item__tab" style="display: none">
                <ul class="faq-list">
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button active">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                  <li class="faq-list__item">
                    <button type="button" class="faq__accordion-button toggle-button">
                      Q. [경매대행] 국제배송 기간은 얼마나 걸리나요?
                    </button>
                    <div class="faq__content">
                      A. 예치금과 보증금의 환불신청은 마이페이지 내 좌측메뉴 “나의계좌관리 / 환불신청” 을 통해
                      신청가능합니다.
                      <br />
                      신청한 시간으로부터 영업시간기준 24시간 이내에 환불처리됩니다. (기본적으로 회원정보란에 입력된
                      계좌번호로 설정되어 있습니다.)
                      <br />
                      보증금의 경우 해당국가의 진행중인 경매가 없거나 모두 거래완료(도착확인 처리) 된 시점에만
                      가능합니다.
                      <br />
                      카드결제로 보증금을 결제하신 경우, 2개월이 지나지 않았으면 카드승인 취소로 처리되며 2개월이 지난
                      경우, 입력하신 계좌로 환불처리 됩니다.
                    </div>
                  </li>
                </ul>
              </li>
            </ul>

            <div class="cs-faq__utils">
              <a href="" class="basic-button__light-gray-line">전체보기</a>
            </div>
          </section>
        </div>
      </main>
      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
