<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/libary/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <main id="main" class="cs-page qna-form-page">
        <!-- MODAL :: 내역ID(경매) 등록  -->
        <!-- <button class="modal_button" type="button" onclick="openModal(this, event)" data-modal="id-auction"></button> -->
        <div class="modal-id-auction inquiry-modal modal" style="display: none">
          <div class="modal__dim" onclick="closeModal(this)"></div>
          <section class="modal__box">
            <div class="modal__header">
              <div class="modal__title">내역ID(경매) 등록</div>
              <button class="modal__close-button white" type="button" onclick="closeModal(this)">
                <span class="blind">모달 닫기</span>
              </button>
            </div>
            <div class="modal__body">
              <div class="modal__content">
                <p class="modal-qna-text">나의 경매 관련 물품에서 선택해 주세요.</p>
                <!-- 1. 내역 없을때 -->
                <!-- <article class="basic-table">
                <div class="basic-table__header">
                  <div> 현재상태 </div>
                  <div> 물품 정보 </div>
                  <div> 남은시간 </div>
                  <div></div>
                </div>
                <div class="basic-table__empty-text">내역이 없습니다.</div>
              </article> -->
                <!-- 2. 내역 있을때 -->
                <article class="basic-table">
                  <div class="basic-table__header">
                    <div>현재상태</div>
                    <div>물품 정보</div>
                    <div>남은시간</div>
                    <div></div>
                  </div>
                  <div class="basic-table__body">
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>관심물품</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>12시간 전</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>관심물품</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>12시간 전</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>관심물품</div>
                      <div class="td-left">[YAHOO] j1134177132</div>
                      <div>종료</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>관심물품</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>종료</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>관심물품</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>12시간 전</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="modal-bottom-wrap">
                <div class="basic-pagination">
                  <button class="first-button" type="button"></button>
                  <button class="prev-button" type="button"></button>

                  <div class="basic-pagination__button-wrap">
                    <button class="page-button" type="button">1</button>
                    <button class="page-button active" ype="button">2</button>
                    <button class="page-button" type="button">3</button>
                    <button class="page-button" type="button">4</button>
                    <button class="page-button" type="button">5</button>
                  </div>

                  <button class="next-button" type="button"></button>
                  <button class="last-button" type="button"></button>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- MODAL :: 내역ID(구매) 등록  -->
        <!-- <button class="modal_button" type="button" onclick="openModal(this, event)" data-modal="id-purchase"></button> -->
        <div class="modal-id-purchase inquiry-modal modal" style="display: none">
          <div class="modal__dim" onclick="closeModal(this)"></div>
          <section class="modal__box">
            <div class="modal__header">
              <div class="modal__title">내역ID(구매) 등록</div>
              <button class="modal__close-button white" type="button" onclick="closeModal(this)">
                <span class="blind">모달 닫기</span>
              </button>
            </div>
            <div class="modal__body">
              <div class="modal__content">
                <p class="modal-qna-text">나의 구매 관련 물품에서 선택해 주세요.</p>
                <!-- 1. 내역 없을때 -->
                <!-- <article class="basic-table">
                <div class="basic-table__header">
                    <div>현재상태</div>
                    <div>물품 정보</div>
                    <div>사이트</div>
                    <div>구매신청일</div>
                    <div></div>
                </div>
                <div class="basic-table__empty-text">내역이 없습니다.</div>
              </article> -->
                <!-- 2. 내역 있을때 -->
                <article class="basic-table">
                  <div class="basic-table__header">
                    <div>현재상태</div>
                    <div>물품 정보</div>
                    <div>사이트</div>
                    <div>구매신청일</div>
                    <div></div>
                  </div>
                  <div class="basic-table__body">
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>접수완료</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>www.yahoo.jp/doo Dd/34/</div>
                      <div>2024-06-06</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>접수완료</div>
                      <div class="td-left">
                        <p class="p_2">
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS 닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS 닌텐도 3
                          DS미스티핀크 닌텐도 Nintendo 3 DS 닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS 닌텐도 3
                          DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>www.yahoo.jp/doo Dd/34/</div>
                      <div>2024-06-06</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>접수완료</div>
                      <div class="td-left">
                        <p class="p_2">
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS닌텐도 3
                          DS미스티핀크 닌텐도 Nintendo 3 DS닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>www.yahoo.jp/doo Dd/34/</div>
                      <div>2024-06-06</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>접수완료</div>
                      <div class="td-left">
                        <p class="p_2">닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS</p>
                      </div>
                      <div>www.yahoo.jp/doo Dd/34/</div>
                      <div>2024-06-06</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                    <!-- 1 -->
                    <div class="basic-table__row">
                      <div>접수완료</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div>www.yahoo.jp/doo Dd/34/</div>
                      <div>2024-06-06</div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="modal-bottom-wrap">
                <div class="basic-pagination">
                  <button class="first-button" type="button"></button>
                  <button class="prev-button" type="button"></button>

                  <div class="basic-pagination__button-wrap">
                    <button class="page-button" type="button">1</button>
                    <button class="page-button active" ype="button">2</button>
                    <button class="page-button" type="button">3</button>
                    <button class="page-button" type="button">4</button>
                    <button class="page-button" type="button">5</button>
                  </div>

                  <button class="next-button" type="button"></button>
                  <button class="last-button" type="button"></button>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- MODAL :: 주문번호로등록  -->
        <!-- <button class="modal_button" type="button" onclick="openModal(this, event)" data-modal="search-order"></button> -->
        <div class="modal-search-order inquiry-modal modal" style="display: none">
          <div class="modal__dim" onclick="closeModal(this)"></div>
          <section class="modal__box">
            <div class="modal__header">
              <div class="modal__title">주문번호로등록</div>
              <button class="modal__close-button white" type="button" onclick="closeModal(this)">
                <span class="blind">모달 닫기</span>
              </button>
            </div>
            <div class="modal__body">
              <div class="modal__content">
                <p class="modal-qna-text">경매 또는 구매를 구분하여 주문번호를 검색해 보세요.</p>
                <div class="search-order-num-wrap">
                  <p>주문번호 직접입력</p>
                  <div class="basic-select-box">
                    <select name="" id="">
                      <option value="" disabled selected>코드 선택</option>
                      <option>운송장번호</option>
                      <option>주문번호</option>
                      <option>경매번호</option>
                    </select>
                  </div>
                  <div class="basic-input">
                    <input type="search" />
                    <button type="button" class="search-order-button">검색</button>
                  </div>
                </div>
                <!-- 0. 검색 전 -->
                <div class="basic-table__default">채널 선택 후 주문번호 검색 후 선택 해 주세요.</div>
                <!-- 1. 내역 없을때 -->
                <!-- <div class="basic-table__empty-text">내역이 없습니다.</div> -->
                <!-- 2. 내역 있을때 -->
                <!-- <article class="basic-table">
                  <div class="basic-table__body">

                    <div class="basic-table__row">
                      <div>2024-05-09</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>

                    <div class="basic-table__row">
                      <div>2024-05-09</div>
                      <div class="td-left">
                        <p class="p_2">
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS닌텐도 3
                          DS미스티핀크 닌텐도 Nintendo 3 DS닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>

                    <div class="basic-table__row">
                      <div>2024-05-09</div>
                      <div class="td-left">
                        <p class="p_2">
                          [YAHOO] j1134177132<br />
                          닌텐도 3 DS미스티핀크 닌텐도 Nintendo 3 DS
                        </p>
                      </div>
                      <div><button type="button" class="basic-button__light-gray-line">선택</button></div>
                    </div>
                  </div>
                </article> -->
              </div>
            </div>
          </section>
        </div>

        <!-- 고객센터 DASHBOARD -->
        <section id="csDashboard" class="cs-dashboard cs-box"></section>

        <div class="inner-width">
          <!-- 1:1 문의하기-->
          <section class="cs-qna-form">
            <h3 class="cs-title">
              <b>1:1 문의하기</b>
            </h3>
            <div class="cs-box line">
              <!-- 1. 질문유형 -->
              <div class="qna-form__group">
                <div class="qna-form__label">
                  <label for="">질문유형</label>
                </div>
                <div class="qna-form__content">
                  <div class="qna-form__radio">
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="1" checked />
                      <label for="1"><span class="radio-check-button-icon"></span>입찰해제</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="2" />
                      <label for="2"><span class="radio-check-button-icon"></span>회원문의</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="3" />
                      <label for="3"><span class="radio-check-button-icon"></span>경매문의</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="4" />
                      <label for="4"><span class="radio-check-button-icon"></span>구매문의</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="5" />
                      <label for="5"><span class="radio-check-button-icon"></span>결제문의</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="6" />
                      <label for="6"><span class="radio-check-button-icon"></span>배송문의</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="7" />
                      <label for="7"><span class="radio-check-button-icon"></span>반품환불문의</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaOption" id="8" />
                      <label for="8"><span class="radio-check-button-icon"></span>기타문의</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 2. 나라선택 -->
              <div class="qna-form__group">
                <div class="qna-form__label">
                  <label for="">국가선택</label>
                </div>
                <div class="qna-form__content">
                  <div class="qna-form__radio">
                    <div class="radio-check-button">
                      <input type="radio" name="qnaCountry" id="a" checked />
                      <label for="a"><span class="radio-check-button-icon"></span>한국</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaCountry" id="b" />
                      <label for="b"><span class="radio-check-button-icon"></span>일본</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaCountry" id="c" />
                      <label for="c"><span class="radio-check-button-icon"></span>미국</label>
                    </div>
                    <div class="radio-check-button">
                      <input type="radio" name="qnaCountry" id="d" />
                      <label for="d"><span class="radio-check-button-icon"></span>영국</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 3. 문의물품(선택) -->
              <div class="qna-form__group">
                <div class="qna-form__label">
                  <label for="">문의물품(선택)</label>
                </div>
                <div class="qna-form__content">
                  <div class="qna-form__select-buttons">
                    <button
                      type="button"
                      class="gray-tab modal_button"
                      onclick="openModal(this, event)"
                      data-modal="id-auction"
                    >
                      나의 경매 관련 물품
                    </button>
                    <button
                      type="button"
                      class="blue-tab modal_button"
                      onclick="openModal(this, event)"
                      data-modal="id-purchase"
                    >
                      나의 구매 관련 물품
                    </button>
                    <button
                      type="button"
                      class="gray-tab modal_button"
                      onclick="openModal(this, event)"
                      data-modal="search-order"
                    >
                      주문번호로 등록
                    </button>
                  </div>
                </div>
              </div>

              <!-- 4. 제목 -->
              <div class="qna-form__group">
                <div class="qna-form__label">
                  <label for="">제목</label>
                </div>
                <div class="qna-form__content">
                  <div class="basic-input qna-form__title">
                    <input type="text" />
                  </div>
                </div>
              </div>

              <!-- 5. 내용 -->
              <div class="qna-form__group">
                <div class="qna-form__label">
                  <label for="">제목</label>
                </div>
                <div class="qna-form__content">
                  <div class="basic-textarea qna-form__textarea">
                    <textarea name="" id=""></textarea>
                  </div>
                </div>
              </div>

              <!-- 6. 첨부파일 -->
              <div class="qna-form__group">
                <div class="qna-form__label">
                  <label for="">첨부파일</label>
                </div>
                <div class="qna-form__content">
                  <div class="qna-file">
                    <div class="basic-input-file">
                      <label for="qndFile" class="file-button">사진</label>
                      <input id="qndFile" type="file" name="" />
                    </div>
                    <div class="basic-input">
                      <input type="text" />
                    </div>
                  </div>
                  <p class="qna-small-text">등록파일 Type : jpg, gif| 최대 용량 : 1MB 이하</p>
                </div>
              </div>

              <div class="qna-form__button-wrap">
                <div class="qna-form__label"></div>
                <button type="button" class="basic-button__light-gray-line">취소하기</button>
                <button type="button" class="basic-button__blue">문의하기</button>
              </div>
            </div>
          </section>
        </div>
      </main>
      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
