<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.css" /> -->

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/libary/Sortable.min.js"></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <!-- <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script> -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <!-- <script type="module" src="../../assets/js/sort.js"></script> -->
    <script type="module">
      // category Sort
      const ulEl = document.querySelector(".custom-shopping__list");
      console.log(ulEl);
      if (ulEl) {
        new Sortable(ulEl, {
          animation: 200, // 이동 속도를 약간 더 느리게 설정
          ghostClass: "active",
          forceFallback: true, // 미지원 브라우저나 상황에서도 강제로 드래그 동작을 적용
          handle: ".custom-shopping__drag-button", // 클래스를 가진 요소에서만 드래그 가능
          preventOnFilter: false, // 필터된 요소에서 기본 동작을 막지 않음
          // swapThreshold: 0.5, // 요소가 중간에 도달했을 때 스와핑
          // invertSwap: true, // 스와핑을 반전하여 좀 더 직관적인 느낌 제공
        });
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {
          // left: "prev",
          // center: "title",
          // right: "next",
          initialView: "dayGridMonth",
          // header toolbar
          titleFormat: function (date) {
            return date.date.month + 1;
          },

          headerToolbar: {
            left: "prev",
            center: "title",
            right: "next",
          },
          height: 275,
          // contentHeight: "auto",
          eventDidMount: function (info) {
            var title = info.event.title;
            var tooltip = new Tooltip(info.el, {
              title: title,
              // title: info.event.extendedProps.description,
              placement: "top",
              trigger: "hover",
              container: "body",
            });
          },

          // dayMaxEventRows: true,
          // expandRows: true, // 화면에 맞게 높이 재설정
          //tooltip
          // eventDidMount: function (info) {
          //   var title = info.event.title;
          //   if (title.length > 0) {
          //     tippy(info.el, {
          //       content: title,
          //       placement: "bottom", //툴팁 방향
          //       theme: "yellow", //css테마 설정된 데이터 값
          //       arrow: false, //툴팁에서 말풍선 모양처럼 화살표 출력여부
          //     });
          //   }
          // },
          // eventRender: function (info) {
          //   var tooltip = new Tooltip(info.el, {
          //     title: info.event.extendedProps.description, //이벤트 디스크립션을 툴팁으로 가져옵니다.
          //     // title: info.event.title, 이벤트 타이틀을 툴팁으로 가져옵니다.
          //     placement: "top",
          //     trigger: "hover",
          //     container: "body",
          //   });
          // },

          events: [
            {
              title: "All Day Event",
              description: "description for All Day Event",
              start: "2024-09-25",
            },
          ],
          // events: [
          //   {
          //     title: "한국 [KOR]",
          //     description: "description for All Day Event",
          //     start: "2024-09-25",
          //   },
          //   {
          //     title: "한국 [KOR]",
          //     start: "2024-09-05",
          //   },
          //   {
          //     title: "한국 [KOR]",
          //     start: "2024-10-25",
          //   },
          //   {
          //     title: "한국 [KOR]",
          //     start: "2024-10-05",
          //   },
          // ],

          // dateClick: function (info) {
          //   alert("Clicked on: " + info.dateStr); //
          //   // change the day's background color just for fun
          //   // info.dayEl.style.backgroundColor = "red";
          //   // $("#calendarModal").modal("show");
          // },
        });
        calendar.render();
      });
    </script>
  </head>
  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <main id="main" class="main-page">
        <div class="inner-width flex">
          <section class="main-visual">
            <article class="main-slider">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <a href="">
                    <figure>
                      <img src="../../assets/images/dummy/slide_01.jpg" alt="slide" />
                    </figure>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a href="">
                    <figure>
                      <img src="../../assets/images/dummy/slide_01.jpg" alt="slide" />
                    </figure>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a href="">
                    <figure>
                      <img src="../../assets/images/dummy/slide_01.jpg" alt="slide" />
                    </figure>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a href="">
                    <figure>
                      <img src="../../assets/images/dummy/slide_01.jpg" alt="slide" />
                    </figure>
                  </a>
                </li>
              </ul>
              <div class="main-slider__controls">
                <button type="button" class="main-slider__autoplay-controls">
                  <span class="blind">자동재생 시작</span>
                </button>

                <div class="main-slider__navigation">
                  <button type="button" class="main-slider__button--prev"></button>
                  <div class="main-slider__pagination"></div>
                  <button type="button" class="main-slider__button--next"></button>
                </div>
              </div>
            </article>
            <article class="main-visual__reco-item">
              <ul class="main-reco-item item-list">
                <!-- [관심상품 아이콘노출] item-box에 favorite-item 클래스 추가 -->
                <li class="item-box">
                  <a href="" class="item__img img-wrap">
                    <img src="https://placehold.co/400x20" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">¥<s>18,000</s></span>
                        <span class="item__discount-percent">(40%)</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>
                    <!-- PUB :: 버튼 리스트 -->
                    <!-- 
                    1. 입찰 버튼 (경매 상품건 만 노출) 클릭 시 상세 화면 이동 
                    2. 카트 버튼(구매 대행 아이템만 노출) 클릭 시 - 장바구니 담기 모달
                    > 썸네일 & 아이템명 클릭시 상세페이지 이동 -->
                    <div class="item__bottom">
                      <div class="item-button-wrap">
                        <button class="item-button__cart">
                          <span class="blind">장바구니</span>
                        </button>
                        <!-- <a href="../auctions/index.html" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                        <a href="../auctions/index.html" class="item-button__buy basic-button__blue">
                          구매
                          <div class="num-badge">5</div>
                        </a>
                        <a href="../auctions/index.html" class="item-button__check "> <span class="blind">확인</span></a> -->
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onclick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">즉시낙찰 ¥299</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>
                    <!-- PUB :: 버튼 리스트 -->
                    <!-- 
                    1. 입찰 버튼 (경매 상품건 만 노출) 클릭 시 상세 화면 이동 
                    2. 카트 버튼(구매 대행 아이템만 노출) 클릭 시 - 장바구니 담기 모달
                    > 썸네일 & 아이템명 클릭시 상세페이지 이동 -->
                    <div class="item__bottom">
                      <p>
                        05.04<br />
                        14:47(1일)
                      </p>
                      <div class="item-button-wrap">
                        <a href="../auctions/index.html" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                        <a href="../auctions/index.html" class="item-button__buy basic-button__blue">
                          구매
                          <div class="num-badge">5</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onclick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box favorite-item">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                    </div>
                    <div class="item-tags"></div>
                    <!-- PUB :: 버튼 리스트 -->
                    <!-- 
                    1. 입찰 버튼 (경매 상품건 만 노출) 클릭 시 상세 화면 이동 
                    2. 카트 버튼(구매 대행 아이템만 노출) 클릭 시 - 장바구니 담기 모달
                    > 썸네일 & 아이템명 클릭시 상세페이지 이동 -->
                    <div class="item__bottom">
                      <p>05.04 14:47(1일)</p>
                      <div class="item-button-wrap">
                        <a href="../auctions/index.html" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <button class="like-button active" type="button" onclick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box favorite-item">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_uk.png" alt="uk" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name"
                      >あすつく ビール 送料無料 アサヒあすつく ビール 送料無料 アサヒあすつく ビール 送料無料
                      アサヒあすつく ビール 送料無料 アサヒ</a
                    >
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">¥<s>18,000</s> (40%)</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>
                    <!-- PUB :: 버튼 리스트 -->
                    <!-- 
                    1. 입찰 버튼 (경매 상품건 만 노출) 클릭 시 상세 화면 이동 
                    2. 카트 버튼(구매 대행 아이템만 노출) 클릭 시 - 장바구니 담기 모달
                    > 썸네일 & 아이템명 클릭시 상세페이지 이동 -->
                    <div class="item__bottom">
                      <div class="item-button-wrap">
                        <a href="../auctions/index.html" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                        <button class="item-button__cart">
                          <span class="blind">장바구니</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onclick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box favorite-item">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">즉시낙찰 ¥299</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>
                    <!-- PUB :: 버튼 리스트 -->
                    <!-- 
                    1. 입찰 버튼 (경매 상품건 만 노출) 클릭 시 상세 화면 이동 
                    2. 카트 버튼(구매 대행 아이템만 노출) 클릭 시 - 장바구니 담기 모달
                    > 썸네일 & 아이템명 클릭시 상세페이지 이동 -->
                    <div class="item__bottom">
                      <p>05.04 14:47(1일)</p>
                      <div class="item-button-wrap">
                        <a href="../auctions/index.html" class="item-button__check"> <span class="blind">확인</span></a>
                        <button class="item-button__cart">
                          <span class="blind">장바구니</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onclick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box favorite-item">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">¥<s>18,000</s> (40%)</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>
                    <!-- PUB :: 버튼 리스트 -->
                    <!-- 
                    1. 입찰 버튼 (경매 상품건 만 노출) 클릭 시 상세 화면 이동 
                    2. 카트 버튼(구매 대행 아이템만 노출) 클릭 시 - 장바구니 담기 모달
                    > 썸네일 & 아이템명 클릭시 상세페이지 이동 -->
                    <div class="item__bottom">
                      <p>05.04 14:47(1일)</p>
                      <div class="item-button-wrap">
                        <a href="../auctions/index.html" class="item-button__buy basic-button__blue">
                          구매
                          <div class="num-badge">5</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onclick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
              </ul>
            </article>
          </section>

          <section class="main-side">
            <!-- PUB :: 로그인 전/후가 다릅니다 -->
            <!-- 1. 로그인 전 -->
            <article class="main-side__offline">
              <div class="main-side__inner">
                <p>
                  비드바이 멤버십으로<br />
                  탁월한 해외쇼핑 경험과 혜택
                </p>
                <a href="/auth.html" class="basic-button__blue">로그인</a>
                <ul class="offline-utils">
                  <li><a href="">ID/PW찾기</a></li>
                  <li><a href="">이용가이드</a></li>
                  <li><a href="/signup.html">회원가입</a></li>
                </ul>
              </div>
              <figure class="offline-banner">
                <img src="" alt="" />
              </figure>
            </article>
            <!-- 1. 로그인 후 -->
            <article class="main-side__online" style="display: none">
              <div class="main-side__inner">
                <ul class="online-utils">
                  <li><a href="">개인정보</a></li>
                  <li><a href="">로그아웃</a></li>
                </ul>

                <div class="user-info-box">
                  <figure class="user-info-box__profile img-wrap">
                    <img src="../../assets/images/dummy/guide_banner_01.png" alt="" />
                  </figure>

                  <div class="user-info-box__details">
                    <a href="../mypage/index.html" class="user-info-box__name"><b>홍길동</b>님</a>
                    <div class="user-info-box__rank">
                      <b>우수회원</b>
                      <div class="user-info-box__progress">
                        <progress value="100" max="190"></progress>
                        <span>190</span>
                      </div>
                      <b>프리미엄</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-info-box__points">
                <a href="" class="user-info-box__bid-point">
                  <p>비드포인트</p>
                  <p><b>180</b>점</p>
                </a>
                <a href="" class="user-info-box__yahoo-point">
                  <p>야후보증금</p>
                  <p><b>30,000</b>원</p>
                </a>
                <a href="" class="user-info-box__ebay-point">
                  <p>이베이보증금</p>
                  <p><b>30,000</b>원</p>
                </a>
              </div>
              <div class="main-side__inner">
                <ul class="user-info-box__benefits">
                  <li>
                    <b>동시입찰</b>
                    <span>무제한</span>
                  </li>
                  <li>
                    <b>국제운임할인</b>
                    <span>2,000원</span>
                  </li>
                  <li>
                    <b>대행수수료 할인</b>
                    <span>3,000원</span>
                  </li>
                  <li>
                    <b>결제대기</b>
                    <span>3건</span>
                  </li>
                  <li>
                    <b>보관료 할인</b>
                    <span>3,000원</span>
                  </li>
                </ul>
              </div>
            </article>
            <div class="main-side__sidebar">
              <article class="main-side__notice">
                <h2 class="main-title">BB공지<a href="">더 보기</a></h2>
                <ul class="main-notice-list">
                  <li>
                    <figure class="main-notice__country">
                      <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                    </figure>
                    <a href="" class="main-notice__title">5월 출하 및 골든위크연휴 안내</a>
                    <p class="main-notice__date">2024.04.26</p>
                  </li>
                  <li>
                    <figure class="main-notice__country">
                      <img src="../../assets/images/icon/country_usa.png" alt="usa" />
                    </figure>
                    <a href="" class="main-notice__title">5월 출하 및 골든위크연휴 안내</a>
                    <p class="main-notice__date">2024.04.26</p>
                  </li>
                  <li>
                    <figure class="main-notice__country">
                      <img src="../../assets/images/icon/country_uk.png" alt="uk" />
                    </figure>
                    <a href="" class="main-notice__title">5월 출하 및 골든위크연휴 안내</a>
                    <p class="main-notice__date">2024.04.26</p>
                  </li>
                  <li>
                    <figure class="main-notice__country">
                      <img src="../../assets/images/icon/country_kor.png" alt="kor" />
                    </figure>
                    <a href="" class="main-notice__title">2024년 5월 카드사별 무이자 및 부분결제 부분결제</a>
                    <p class="main-notice__date">2024.04.26</p>
                  </li>
                </ul>
              </article>
              <article class="main-side__auction">
                <h2 class="main-title">HOT 경매<b>마감임박</b></h2>
                <div class="hot-auction-box">
                  <ul class="hot-auction-list">
                    <li>
                      <a href="" class="hot-auction__img img-wrap">
                        <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                      </a>
                      <div class="hot-auction__info">
                        <div class="item__market">
                          <figure class="item__country">
                            <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                          </figure>
                          <p>라쿠텐 - Ten past Ten</p>
                        </div>
                        <p class="hot-auction__time">종료 45분 남음</p>
                        <a href="" class="hot-auction__name">あすつく ビール 送料無料 アサヒ</a>
                        <div class="hot-auction__price">
                          <p>¥ 10,000</p>
                          <p class="hot-auction__bid"><strong>245</strong> bid</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="" class="hot-auction__img img-wrap">
                        <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                      </a>
                      <div class="hot-auction__info">
                        <div class="item__market">
                          <figure class="item__country">
                            <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                          </figure>
                          <p>라쿠텐 - Ten past Ten</p>
                        </div>
                        <p class="hot-auction__time">종료 45분 남음</p>
                        <a href="" class="hot-auction__name"
                          >あすつく ビール 送料無料 アサヒあすつく ビール 送料無料 アサヒあすつく ビール 送料無料
                          アサヒあすつく ビール 送料無料 アサヒ</a
                        >
                        <div class="hot-auction__price">
                          <p>¥ 10,000</p>
                          <p class="hot-auction__bid"><strong>245</strong> bid</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="" class="hot-auction__img img-wrap">
                        <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                      </a>
                      <div class="hot-auction__info">
                        <div class="item__market">
                          <figure class="item__country">
                            <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                          </figure>
                          <p>라쿠텐 - Ten past Ten</p>
                        </div>
                        <p class="hot-auction__time">종료 45분 남음</p>
                        <a href="" class="hot-auction__name">あすつく ビール 送料無料 アサヒ</a>
                        <div class="hot-auction__price">
                          <p>¥ 10,000</p>
                          <p class="hot-auction__bid"><strong>245</strong> bid</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="" class="hot-auction__img img-wrap">
                        <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                      </a>
                      <div class="hot-auction__info">
                        <div class="item__market">
                          <figure class="item__country">
                            <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                          </figure>
                          <p>라쿠텐 - Ten past Ten</p>
                        </div>
                        <p class="hot-auction__time">종료 45분 남음</p>
                        <a href="" class="hot-auction__name">あすつく ビール 送料無料 アサヒ</a>
                        <div class="hot-auction__price">
                          <p>¥ 10,000</p>
                          <p class="hot-auction__bid"><strong>245</strong> bid</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </section>
        </div>

        <section class="main-nav">
          <div class="inner-width">
            <ul class="main-nav__list">
              <li class="main-nav__item">
                <a href="https://unipass.customs.go.kr/csp/persIndex.do" target="_blank">
                  <p>개인통관공유부호</p>
                </a>
              </li>
              <li class="main-nav__item">
                <a href="">
                  <!-- <a href="javascript:VivaUtil.callCalculator();"> -->
                  <p>비용계산기</p>
                </a>
              </li>
              <li class="main-nav__item">
                <a href="" class="modal-"> <p>단위변환</p> </a>
              </li>
              <li class="main-nav__item">
                <a href="" class="modal-"><p>해외사이즈표</p></a>
              </li>
              <li class="main-nav__item">
                <a href="" class="modal-"> <p>EMS발송 불가품목</p></a>
              </li>
              <li class="main-nav__item">
                <a href="/community/attendance"> <p>비바출석부</p> </a>
              </li>

              <li class="main-nav__item">
                <a href=""> <p>예상 관세율조회</p> </a>
              </li>
            </ul>
          </div>
        </section>

        <div class="inner-width">
          <section class="main-service">
            <!-- 비드바이 센터 -->
            <article class="main-service__center">
              <h2 class="main-title">비드바이 센터</h2>
              <ul>
                <li>
                  <figure class="center__county">
                    <img src="../../assets/images/icon/country_kor.png" alt="kor" />
                  </figure>
                  <div class="center__info">
                    <p class="center__title"><b>한국</b>KOREA</p>
                    <p class="center__region">서울 사무소</p>
                    <p class="center__desc">24.05.08 PM 03:02:11</p>
                  </div>
                  <div class="center__status">
                    <div class="center__status-badge">업무중</div>
                    <button
                      class="modal_button"
                      type="button"
                      onclick="openModal(this, event)"
                      data-modal="schedule"
                    ></button>
                  </div>
                </li>
                <li>
                  <figure class="center__county">
                    <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                  </figure>
                  <div class="center__info">
                    <p class="center__title"><b>일본</b>JAPAN</p>
                    <p class="center__region">오사카 사무소</p>
                    <p class="center__desc">24.05.08 PM 03:02:11</p>
                  </div>
                  <div class="center__status">
                    <div class="center__status-badge">업무중</div>
                    <button
                      class="modal_button"
                      type="button"
                      onclick="openModal(this, event)"
                      data-modal="schedule"
                    ></button>
                  </div>
                </li>
                <li>
                  <figure class="center__county">
                    <img src="../../assets/images/icon/country_usa.png" alt="usa" />
                  </figure>
                  <div class="center__info">
                    <p class="center__title"><b>미국</b>USA</p>
                    <p class="center__region">캘리포니아 사무소</p>
                    <p class="center__desc">24.05.08 PM 03:02:11</p>
                  </div>

                  <div class="center__status">
                    <div class="center__status-badge end">업무종료</div>
                    <button
                      class="modal_button"
                      type="button"
                      onclick="openModal(this, event)"
                      data-modal="schedule"
                    ></button>
                  </div>
                </li>
                <li>
                  <figure class="center__county">
                    <img src="../../assets/images/icon/country_uk.png" alt="uk" />
                  </figure>
                  <div class="center__info">
                    <p class="center__title"><b>영국</b>UK</p>
                    <p class="center__region">런던 사무소</p>
                    <p class="center__desc">24.05.08 PM 03:02:11</p>
                  </div>

                  <div class="center__status">
                    <div class="center__status-badge end">업무종료</div>
                    <button
                      class="modal_button"
                      type="button"
                      onclick="openModal(this, event)"
                      data-modal="schedule"
                    ></button>
                  </div>
                </li>
              </ul>

              <div class="modal-schedule modal side-modal">
                <section class="modal__box modal-schedule__box">
                  <div class="modal-schedule__header">
                    <div class="modal-schedule__title">한국 출고 스케줄</div>
                    <button class="modal__close-button white" type="button" onclick="closeModal(this)">
                      <span class="blind">모달 닫기</span>
                    </button>
                  </div>
                  <div class="modal-schedule__body">
                    <div class="basic-select-box">
                      <select name="" id="">
                        <option>비드바이 선편특송</option>
                        <option>비드바이 선편특송1</option>
                        <option>비드바이 선편특송2</option>
                        <option>비드바이 선편특송3</option>
                      </select>
                    </div>
                    <div id="calendar" class="schedule-box"></div>
                  </div>
                </section>
              </div>
            </article>
            <!-- 비드바이 고시환율 -->
            <article class="main-service__exchange">
              <h2 class="main-title">비드바이 고시환율</h2>
              <div class="service-inner">
                <p class="exchange__thead"><span>국가(통화)</span><span>비드바이환율</span></p>
                <ul>
                  <li>
                    <div class="exchange__info">
                      <figure class="exchange__county">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p class="exchange__title"><b>일본</b>1 JPY</p>
                      <p class="exchange__rate">9.1원</p>
                    </div>
                    <p class="exchange__desc">
                      전주대비 <span class="exchange-icon up-icon"></span> 10.8<span class="exchange-red">(0.79%)</span>
                    </p>
                  </li>
                  <li>
                    <div class="exchange__info">
                      <figure class="exchange__county">
                        <img src="../../assets/images/icon/country_usa.png" alt="usa" />
                      </figure>
                      <p class="exchange__title"><b>미국</b>1 USD</p>
                      <p class="exchange__rate">1,410원</p>
                    </div>
                    <p class="exchange__desc">
                      전주대비 <span class="exchange-icon down-icon"></span> 0.85<span class="exchange-blue"></span
                      >(0.5%)
                    </p>
                  </li>
                  <li>
                    <div class="exchange__info">
                      <figure class="exchange__county">
                        <img src="../../assets/images/icon/country_uk.png" alt="uk" />
                      </figure>
                      <p class="exchange__title"><b>영국</b>1 GBP</p>
                      <p class="exchange__rate">1,860 원</p>
                    </div>
                    <p class="exchange__desc">
                      전주대비 <span class="exchange-icon up-icon"></span> 10.8<span class="exchange-red">(0.79%)</span>
                    </p>
                  </li>
                </ul>
                <p class="exchange__bottom">
                  <b>비드바이환율 고시시간</b><br />
                  <span>2024-05-08 14:50:00</span>
                </p>
              </div>
            </article>
            <!-- 고객센터 -->
            <article class="main-service__cs">
              <h2 class="main-title">고객센터</h2>
              <div class="service-inner">
                <div class="cs__main-number-box">
                  <div class="cs__main-number-img"></div>
                  <p class="cs__main-number">
                    대표번호<br />
                    <b>1544-5224</b>
                  </p>
                </div>
                <div class="cs__main-cs-box">
                  <dl>
                    <dt>FAX</dt>
                    <dd>070-4009-0304</dd>
                  </dl>
                  <dl>
                    <dt>MAIL</dt>
                    <dd>korea@bidbuy.co.kr</dd>
                  </dl>
                </div>
                <div class="cs__business-hours">
                  <dl>
                    <dt>평일 업무시간</dt>
                    <dd>AM 10:00 - PM 17:00</dd>
                  </dl>
                  <dl>
                    <dt>점심시간</dt>
                    <dd>PM 12:30 - PM 13:30</dd>
                  </dl>
                  <p>주말/공휴일은 휴무입니다.</p>
                </div>
              </div>
            </article>
            <!-- 편의연락정보 -->
            <article class="main-service__contact">
              <h2 class="main-title">편의연락정보</h2>
              <div class="service-inner">
                <dl class="office-customs">
                  <dt>관세청</dt>
                  <dd>125</dd>
                </dl>
                <dl class="aone">
                  <dt>관세법인 에이원</dt>
                  <dd>032-745-0870~2</dd>
                </dl>
                <dl class="jeongun-customs">
                  <dt>정운관세사</dt>
                  <dd>032-752-5926</dd>
                </dl>
                <dl class="wooshin-customs">
                  <dt>우신관세사</dt>
                  <dd>02-2666-5445</dd>
                </dl>
                <hr />
                <dl class="pantos">
                  <dt>판토스</dt>
                  <dd>032-744-1528</dd>
                </dl>
                <dl class="ems">
                  <dt>EMS</dt>
                  <dd>1588-1300</dd>
                </dl>
                <dl class="hanjin">
                  <dt>한진</dt>
                  <dd>1588-1612(3번)</dd>
                </dl>
                <dl class="intl-sea-express">
                  <dt>국제선편 특송</dt>
                  <dd>02-3143-5555</dd>
                </dl>
              </div>
            </article>
          </section>

          <section class="main-customer">
            <div class="main-customer__container">
              <!-- 고객후기 -->
              <article class="main-customer__reviews">
                <h2 class="main-title">고객후기</h2>
                <div class="reviews-list">
                  <a href="../community/review_details.html" class="review-box">
                    <div class="review-box__header">
                      <div class="review-box-info-wrap">
                        <div class="review__info">
                          <figure class="review__profile img-wrap">
                            <img src="../../assets/images/dummy/user.png" alt="k****" />
                          </figure>
                          <div class="review__details">
                            <p class="review__name">k*****</p>
                            <div class="review__star">
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/start_red_empty.svg" alt="별점" />
                              </span>
                              <span class="review__star-num">4</span>
                            </div>
                          </div>
                        </div>
                        <p class="reviews__rank">장난감, 게임 / 우수회원 후기</p>
                      </div>
                      <figure class="reviews__img img-wrap">
                        <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                      </figure>
                    </div>
                    <div class="review-box__content">
                      <p class="review-box__title">아이들 선물로 잘 구매했습니다!</p>
                      <p class="review-box__desc">
                        비드바이에서 구하던 상품을 구하게 되어 기분이 좋네요 :) 앞으로도 레어한 제품들 많이 올려주세요!
                      </p>
                    </div>
                    <div class="review-box__badge bid-badge">경매</div>
                  </a>
                  <a href="../community/review_details.html" class="review-box">
                    <div class="review-box__header">
                      <div class="review-box-info-wrap">
                        <div class="review__info">
                          <figure class="review__profile img-wrap">
                            <img src="../../assets/images/dummy/user.png" alt="k****" />
                          </figure>
                          <div class="review__details">
                            <p class="review__name">k****kk****</p>
                            <div class="review__star">
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/star_red.svg" alt="별점" />
                              </span>
                              <span>
                                <img src="../../assets/images/icon/start_red_empty.svg" alt="별점" />
                              </span>
                              <span class="review__star-num">4</span>
                            </div>
                          </div>
                        </div>
                        <p class="reviews__rank">장난감, 게임 / 우수회원 후기</p>
                      </div>
                      <figure class="reviews__img img-wrap">
                        <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                      </figure>
                    </div>
                    <div class="review-box__content">
                      <p class="review-box__title">
                        아이들 선물로 잘 구매했습니다!아이들 선물로 잘 구매했습니다!아이들 선물로 잘 구매했습니다!
                      </p>
                      <p class="review-box__desc">
                        안전하게 잘 받았습니다! 항상 질문에 있어<br />
                        친절한 답변 감사드려요! 특히 빠른 일 처리가 안전하게 잘 받았습니다! 항상 질문에 있어 친절한 답변
                        감사드려요! 특히 빠른 일 처리가
                      </p>
                    </div>
                    <div class="review-box__badge buy-badge">구매</div>
                  </a>
                </div>
              </article>
              <!-- 최근낙찰상품 -->
              <article class="main-customer__recent-items">
                <h2 class="main-title">최근낙찰상품</h2>
                <div class="recent-items-list">
                  <a href="" class="recent-item-box">
                    <div class="recent-item__left">
                      <div class="recent-item__channel">
                        <figure>
                          <img src="../../assets/images/icon/country_usa.png" alt="usa" />
                        </figure>
                        <p>미국이베이경매</p>
                      </div>
                      <p class="recent-item__name">3 Fan (120mm) 19” Inch Rack Mount Cooling PanelPanelPanelPanel</p>
                      <p class="recent-item__price">즉시낙찰가<b>USD 23.70</b></p>
                    </div>
                    <figure class="recent-items__img img-wrap">
                      <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                    </figure>
                  </a>
                  <a href="" class="recent-item-box">
                    <div class="recent-item__left">
                      <div class="recent-item__channel">
                        <figure>
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>미국이베이경매</p>
                      </div>
                      <p class="recent-item__name">3 Fan (120mm) 19” Inch Rack Mount Cooling PanelPanelPanelPanel</p>
                      <p class="recent-item__price">즉시낙찰가<b>USD 23.70</b></p>
                    </div>
                    <figure class="recent-items__img img-wrap">
                      <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                    </figure>
                  </a>
                  <a href="" class="recent-item-box">
                    <div class="recent-item__left">
                      <div class="recent-item__channel">
                        <figure>
                          <img src="../../assets/images/icon/country_uk.png" alt="uk" />
                        </figure>
                        <p>미국이베이경매</p>
                      </div>
                      <p class="recent-item__name">3 Fan (120mm) 19”</p>
                      <p class="recent-item__price">즉시낙찰가<b>USD 23.70</b></p>
                    </div>
                    <figure class="recent-items__img img-wrap">
                      <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                    </figure>
                  </a>
                </div>
              </article>
            </div>
            <!-- 비드바이특파원 -->
            <article class="main-customer__reporter">
              <h2 class="main-title">비드바이특파원</h2>
              <div class="reporter-list">
                <a href="../community/global_news_details.html" class="reporter-box">
                  <figure class="img-wrap">
                    <img src="../../assets/images/dummy/guide_banner_01.png" alt="" />
                  </figure>
                  <div class="reporter__content">
                    <p class="reporter__title">해외 원정 백패킹 비용 및 기타비용기타비용기타비용기타비용</p>
                    <p class="reporter__post"><span>관리자</span><span>2024-08-20</span></p>
                    <p class="reporter__desc">
                      안녕하세요~겨울 상고대로 유명한 태기산에 다녀왔습니다! 하지만 저는 이렇게저렇게
                    </p>
                  </div>
                </a>
                <a href="../community/global_news_details.html" class="reporter-box">
                  <figure class="img-wrap">
                    <img src="../../assets/images/dummy/guide_banner_01.png" alt="" />
                  </figure>
                  <div class="reporter__content">
                    <p class="reporter__title">해외 원정 백패킹 비용 및 기타비용기타비용</p>
                    <p class="reporter__post"><span>관리자</span><span>2024-08-20</span></p>
                    <p class="reporter__desc">안녕하세요~겨울 상고대로 유명한 태기산에</p>
                  </div>
                </a>
                <a href="../community/global_news_details.html" class="reporter-box">
                  <figure class="img-wrap">
                    <img src="../../assets/images/dummy/guide_banner_01.png" alt="" />
                  </figure>
                  <div class="reporter__content">
                    <p class="reporter__title">해외 원정 백패</p>
                    <p class="reporter__post"><span>관리자</span><span>2024-08-20</span></p>
                    <p class="reporter__desc">안녕하세요~겨울 상고대로 유명한 태기산에 다녀왔습니다!</p>
                  </div>
                </a>
                <a href="../community/global_news_details.html" class="reporter-box">
                  <figure class="img-wrap">
                    <img src="../../assets/images/dummy/guide_banner_01.png" alt="" />
                  </figure>
                  <div class="reporter__content">
                    <p class="reporter__title">해외 원정 백패킹 비용 및 기타비용기타비용</p>
                    <p class="reporter__post"><span>관리자</span><span>2024-08-20</span></p>
                    <p class="reporter__desc">
                      안녕하세요~겨울 상고대로 유명한 태기산에 다녀왔습니다! 하지만 저는 이렇게저렇게
                    </p>
                  </div>
                </a>
              </div>
            </article>
          </section>
        </div>
      </main>
      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
