<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header"></header>

      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <div id="main" class="signup-page">
        <div class="top-content">
          <p class="sub-title">글로벌쇼핑의 탁월한 경험!</p>
          <h2 class="title">비드바이코리아 멤버십 가입</h2>
          <ol class="signup-order">
            <li class="signup-order-list active">
              <div class="signup-order__num">Step<br /><b>01</b></div>
              <p class="signup-order__text">멤버십<br />혜택 및 약관</p>
            </li>
            <li class="signup-order-list">
              <div class="signup-order__num">Step<br /><b>02</b></div>
              <p class="signup-order__text">
                가입<br />
                정보입력
              </p>
            </li>
            <li class="signup-order-list">
              <div class="signup-order__num">Step<br /><b>03</b></div>
              <p class="signup-order__text">멤버십<br />가입완료</p>
            </li>
          </ol>
        </div>
        <div class="inner-width">
          <div class="signup-inner">
            <section class="signup-banner">
              <ul>
                <li>
                  <div class="badge">멤버십 혜택1</div>
                  <p>꼼꼼한 현지 서비스</p>
                  <p><b>제품 검수 비용 무료!</b></p>
                </li>
                <li>
                  <div class="badge">멤버십 혜택2</div>
                  <p>국제 운송비 절감을 위한</p>
                  <p><b>묶음배송비 0원!</b></p>
                </li>
                <li>
                  <div class="badge">멤버십 혜택3</div>
                  <p>안전한 국제 운송을 위해</p>
                  <p><b>재포장비 전액 무료!</b></p>
                </li>
                <li>
                  <div class="badge">멤버십 혜택4</div>
                  <p>업계 최고! 최대 45dlf</p>
                  <p><b>창고보관료 무료!</b></p>
                </li>
              </ul>
            </section>
            <section class="terms-section">
              <ul class="terms-list">
                <li class="terms-item">
                  <div class="terms-header">
                    <p class="terms-title">비드바이 멤버십 이용약관 (필수)</p>
                    <div class="basic-check-box__squire gray">
                      <input type="checkbox" name="termsAgree1" id="termsAgree1" />
                      <label for="termsAgree1">
                        <span class="basic-check-box__squire-icon"></span>이용약관 동의함
                      </label>
                    </div>
                  </div>
                  <div class="terms-content">
                    <pre>
제 1조 목적이 약관은 주)비드바이 코리아가 제공하는 해외 경매 대행 서비스와 위임형 구매대행 관련 서비스(이하 “서비스”)를 이용함에 있어 회사와 이용자 간의 권리,의무,책임사항 및 절차 등을 규정함을 목적으로 합니다.</pre
                    >
                  </div>
                </li>

                <li class="terms-item">
                  <div class="terms-header">
                    <p class="terms-title">개인정보의 수집 및 이용목적 (필수)</p>
                    <div class="basic-check-box__squire gray">
                      <input type="checkbox" name="termsAgree2" id="termsAgree2" />
                      <label for="termsAgree2">
                        <span class="basic-check-box__squire-icon"></span>개인정보의 수집목적 및 이용목적에 동의함
                      </label>
                    </div>
                  </div>
                  <div class="terms-content">
                    <pre>
제 1조 목적이 약관은 주)비드바이 코리아가 제공하는 해외 경매 대행 서비스와 위임형 구매대행 관련 서비스(이하 “서비스”)를 이용함에 있어 회사와 이용자 간의 권리,의무,책임사항 및 절차 등을 규정함을 목적으로 합니다.
제 1조 목적이 약관은 주)비드바이 코리아가 제공하는 해외 경매 대행 서비스와 위임형 구매대행 관련 서비스(이하 “서비스”)를 이용함에 있어 회사와 이용자 간의 권리,의무,책임사항 및 절차 등을 규정함을 목적으로 합니다.
제 1조 목적이 약관은 주)비드바이 코리아가 제공하는 해외 경매 대행 서비스와 위임형 구매대행 관련 서비스(이하 “서비스”)를 이용함에 있어 회사와 이용자 간의 권리,의무,책임사항 및 절차 등을 규정함을 목적으로 합니다.</pre
                    >
                  </div>
                </li>
              </ul>
              <ul class="terms-list">
                <li class="terms-item">
                  <div class="terms-header">
                    <p class="terms-title">이메일 수신 동의 (선택)</p>
                    <div class="basic-check-box__squire gray">
                      <input type="checkbox" name="emailAgree" id="emailAgree" />
                      <label for="emailAgree"> <span class="basic-check-box__squire-icon"></span>동의함 </label>
                    </div>
                  </div>
                  <div class="terms-content">
                    <pre>경매대행 및 국제배송 수수료 할인쿠폰과 최신 마케팅 정보를 이메일로 받아볼 수 있습니다.</pre>
                  </div>
                </li>
                <li class="terms-item">
                  <div class="terms-header">
                    <p class="terms-title">SNS 수신 동의 (선택)</p>
                    <div class="basic-check-box__squire gray">
                      <input type="checkbox" name="snsAgree" id="snsAgree" />
                      <label for="snsAgree"> <span class="basic-check-box__squire-icon"></span>동의함 </label>
                    </div>
                  </div>
                  <div class="terms-content">
                    <pre>경매대행 및 국제배송 수수료 할인쿠폰과 최신 마케팅 정보를 SMS로 받아볼 수 있습니다.</pre>
                  </div>
                </li>
              </ul>
              <div class="signup-utils">
                <div class="radio-input">
                  <label for="">본인은 만 14세 이상 입니까?</label>
                  <ul class="radio-button-wrap">
                    <li class="radio-check-button">
                      <input type="radio" name="idAuth" id="idAuth1" checked />
                      <label for="idAuth1"><span class="radio-check-button-icon"></span>예</label>
                    </li>
                    <li class="radio-check-button">
                      <input type="radio" name="idAuth" id="idAuth2" />
                      <label for="idAuth2"><span class="radio-check-button-icon"></span>아니오</label>
                    </li>
                  </ul>
                </div>

                <div class="basic-check-box__squire gray">
                  <input type="checkbox" name="allAgree" id="allAgree" />
                  <label for="allAgree"> <span class="basic-check-box__squire-icon"></span>전체동의 </label>
                </div>

                <div class="signup-button-wrap colum">
                  <a href="../signup/join.html" class="basic-button__blue">일반 멤버십가입</a>
                  <a href="../auth/index.html" class="basic-button__black-line"
                    >소셜간편 멤버십가입
                    <div class="sns-list">
                      <span class="sns-naver"></span>
                      <span class="sns-kakao"></span>
                      <span class="sns-google"></span>
                      <span class="sns-apple"></span></div
                  ></a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
