<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/libary/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/libary/Sortable.min.js"></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header" class="simple" data-title="비바 출석부"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <main id="main" class="community-page attendance-page">
        <!-- 커뮤니티 DASHBOARD -->
        <section id="communityDashboard" class="community-dashboard community-box"></section>

        <div class="inner-width">
          <section class="attendance-wrap">
            <!-- 비바 출석부 -->
            <div class="attendance-banner">
              <img src="../../assets/images/banner/attendance_banner.jpg" alt="비바출석부 배너" />
            </div>

            <div class="attendance">
              <h4 class="attendance__title">
                <p>2024년 12월</p>
                <button class="basic-button__blue attencance__table-button" type="button">출석체크하기</button>
              </h4>
              <!-- PUB :: 출석체크, 빙고 전, 빙고 후 세가지 분기처리
               1. td.actvie :: 출석체크
               2. td.bingo :: 빙고 전
               3. td.bingo-on :: 빙고 후  -->
              <table class="attencance__table">
                <thead>
                  <tr>
                    <th scope="col">
                      <span>월</span>
                    </th>
                    <th scope="col">
                      <span>화</span>
                    </th>
                    <th scope="col">
                      <span>수</span>
                    </th>
                    <th scope="col">
                      <span>목</span>
                    </th>
                    <th scope="col">
                      <span>금</span>
                    </th>
                    <th scope="col">
                      <span>토</span>
                    </th>
                    <th scope="col">
                      <span>일</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span></span>
                    </td>
                    <td class="active">
                      <span>1</span>
                    </td>
                    <td class="bingo">
                      <span>2</span>
                    </td>
                    <td>
                      <span>3</span>
                    </td>
                    <td class="bingo-on">
                      <span>4</span>
                    </td>
                    <td>
                      <span>5</span>
                    </td>
                    <td>
                      <span>6</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>7</span>
                    </td>
                    <td class="active">
                      <span>8</span>
                    </td>
                    <td class="bingo">
                      <span>9</span>
                    </td>
                    <td>
                      <span>10</span>
                    </td>
                    <td class="bingo-on">
                      <span>11</span>
                    </td>
                    <td>
                      <span>12</span>
                    </td>
                    <td>
                      <span>13</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>7</span>
                    </td>
                    <td>
                      <span>8</span>
                    </td>
                    <td class="bingo">
                      <span>9</span>
                    </td>
                    <td>
                      <span>10</span>
                    </td>
                    <td class="bingo-on">
                      <span>11</span>
                    </td>
                    <td>
                      <span>12</span>
                    </td>
                    <td>
                      <span>13</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>7</span>
                    </td>
                    <td>
                      <span>8</span>
                    </td>
                    <td class="bingo">
                      <span>9</span>
                    </td>
                    <td>
                      <span>10</span>
                    </td>
                    <td class="bingo-on">
                      <span>11</span>
                    </td>
                    <td>
                      <span>12</span>
                    </td>
                    <td>
                      <span>13</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>7</span>
                    </td>
                    <td>
                      <span>8</span>
                    </td>
                    <td class="bingo">
                      <span>9</span>
                    </td>
                    <td>
                      <span>10</span>
                    </td>
                    <td class="bingo-on">
                      <span>11</span>
                    </td>
                    <td>
                      <span>12</span>
                    </td>
                    <td>
                      <span>13</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </main>
      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
