<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/libary/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/libary/Sortable.min.js"></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header id="header" class="simple" data-title="리뷰"></header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <main id="main" class="community-page community-review-page">
        <!-- 커뮤니티 DASHBOARD -->
        <section id="communityDashboard" class="community-dashboard community-box"></section>

        <section class="community-review-wrap">
          <!-- 주간 BEST 후기 -->
          <article class="weekly-best-review">
            <div class="inner-width">
              <h3 class="community-sub-title">
                <b>주간 BEST 후기</b>
              </h3>
            </div>
            <div class="review-swiper-wrap">
              <div class="swiper review-swiper">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <a href="../community/review_details.html" class="review-box community-box line">
                      <div class="review__user">
                        <figure class="review__user-img img-wrap">
                          <img src="../../assets/images/dummy/user.png" alt="" />
                        </figure>
                        <div class="review__user-info">
                          <div class="review__user-name-wrap">
                            <p class="review__user-name">Yyoo007</p>
                            <p class="review__user-status">신규회원</p>
                            <div class="review__comment-num">3</div>
                          </div>
                          <div class="review__rating">
                            <div class="review__star">
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                              <span class="review__star-num">4</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <div class="review__content">
                        <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                        <p class="review__text p_2">
                          잘 도착 하였읍니다. 상태도 좋아요…..<br />
                          포장두 완벽 하구요….
                        </p>
                        <p class="review__date">2024-05-05</p>
                        <figure class="review__img img-wrap">
                          <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                        </figure>
                      </div>
                    </a>
                  </li>
                  <li class="swiper-slide">
                    <a href="../community/review_details.html" class="review-box community-box line">
                      <div class="review__user">
                        <figure class="review__user-img img-wrap">
                          <img src="../../assets/images/dummy/user.png" alt="" />
                        </figure>
                        <div class="review__user-info">
                          <div class="review__user-name-wrap">
                            <p class="review__user-name">Yyoo007</p>
                            <p class="review__user-status">신규회원</p>
                            <div class="review__comment-num">3</div>
                          </div>
                          <div class="review__rating">
                            <div class="review__star">
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                              <span class="review__star-num">4</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <div class="review__content">
                        <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                        <p class="review__text p_2">
                          잘 도착 하였읍니다. 상태도 좋아요…..<br />
                          포장두 완벽 하구요….
                        </p>
                        <p class="review__date">2024-05-05</p>
                        <figure class="review__img img-wrap">
                          <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                        </figure>
                      </div>
                    </a>
                  </li>
                  <li class="swiper-slide">
                    <a href="../community/review_details.html" class="review-box community-box line">
                      <div class="review__user">
                        <figure class="review__user-img img-wrap">
                          <img src="../../assets/images/dummy/user.png" alt="" />
                        </figure>
                        <div class="review__user-info">
                          <div class="review__user-name-wrap">
                            <p class="review__user-name">Yyoo007</p>
                            <p class="review__user-status">신규회원</p>
                            <div class="review__comment-num">3</div>
                          </div>
                          <div class="review__rating">
                            <div class="review__star">
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                              <span class="review__star-num">4</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <div class="review__content">
                        <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                        <p class="review__text p_2">
                          잘 도착 하였읍니다. 상태도 좋아요…..<br />
                          포장두 완벽 하구요….
                        </p>
                        <p class="review__date">2024-05-05</p>
                        <figure class="review__img img-wrap">
                          <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                        </figure>
                      </div>
                    </a>
                  </li>
                  <li class="swiper-slide">
                    <a href="../community/review_details.html" class="review-box community-box line">
                      <div class="review__user">
                        <figure class="review__user-img img-wrap">
                          <img src="../../assets/images/dummy/user.png" alt="" />
                        </figure>
                        <div class="review__user-info">
                          <div class="review__user-name-wrap">
                            <p class="review__user-name">Yyoo007</p>
                            <p class="review__user-status">신규회원</p>
                            <div class="review__comment-num">3</div>
                          </div>
                          <div class="review__rating">
                            <div class="review__star">
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                              <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                              <span class="review__star-num">4</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <div class="review__content">
                        <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                        <p class="review__text p_2">
                          잘 도착 하였읍니다. 상태도 좋아요…..<br />
                          포장두 완벽 하구요….
                        </p>
                        <p class="review__date">2024-05-05</p>
                        <figure class="review__img img-wrap">
                          <img src="../../assets/images/dummy/item_01.jpg" alt="" />
                        </figure>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <button type="button" class="review-swiper-button-next"></button>
                <button type="button" class="review-swiper-button-prev"></button> -->
            </div>
          </article>
          <div class="inner-width">
            <!-- 프리미엄 후기 (12,000) -->
            <article class="premium-review">
              <h3 class="community-sub-title">
                <b>프리미엄 후기<small>(12,000)</small></b>
              </h3>
              <ul class="premium-review__list">
                <!-- 1 -->
                <li>
                  <a href="" class="premium-review-box community-box line">
                    <div class="premium-review__left">
                      <div class="premium-review__info">
                        <p class="premium-review__name">Yyoo007</p>
                        <p class="premium-review__status">신규회원</p>
                      </div>
                      <div class="premium-review__desc">
                        <p class="premium-review__date">2024-05-05</p>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="premium-review__content">
                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <p class="premium-review__title p_2">즉결/BLUE GIANT/전</p>
                      <p class="premium-review__con p_1">
                        잘 도착 하였읍니다. 상태도 좋착 하였읍니다. 상태도 좋착 하였읍니다. 상태도 좋착 하였읍니다.
                        상태도 좋아요…..
                      </p>
                    </div>
                    <figure class="premium-review__img img-wrap">
                      <img src="../../assets/images/dummy/review.jpg" alt="" />
                    </figure>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="" class="premium-review-box community-box line">
                    <div class="premium-review__left">
                      <div class="premium-review__info">
                        <p class="premium-review__name">Yyoo007</p>
                        <p class="premium-review__status">신규회원</p>
                      </div>
                      <div class="premium-review__desc">
                        <p class="premium-review__date">2024-05-05</p>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="premium-review__content">
                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <p class="premium-review__title p_2">
                        즉결/BLUE GIANT/전10권/이시즈카이시즈카이시즈카이시즈카이시즈카이시즈카 신이 치/전권·완결  [1]
                      </p>
                      <p class="premium-review__con p_1">잘 도착 하였읍니다. 상태도 좋아요…..</p>
                    </div>
                    <figure class="premium-review__img img-wrap">
                      <img src="../../assets/images/dummy/review.jpg" alt="" />
                    </figure>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="" class="premium-review-box community-box line">
                    <div class="premium-review__left">
                      <div class="premium-review__info">
                        <p class="premium-review__name">Yyoo007</p>
                        <p class="premium-review__status">신규회원</p>
                      </div>
                      <div class="premium-review__desc">
                        <p class="premium-review__date">2024-05-05</p>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="premium-review__content">
                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <p class="premium-review__title p_2">
                        즉결/BLUE GIANT/전10권/이시즈카이시즈카이시즈카이시즈카이시즈카이시즈카 신이 치/전권·완결  [1]
                      </p>
                      <p class="premium-review__con p_1">잘 도착 하였읍니다. 상태도 좋아요…..</p>
                    </div>
                    <figure class="premium-review__img img-wrap">
                      <img src="../../assets/images/dummy/review.jpg" alt="" />
                    </figure>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="" class="premium-review-box community-box line">
                    <div class="premium-review__left">
                      <div class="premium-review__info">
                        <p class="premium-review__name">Yyoo007</p>
                        <p class="premium-review__status">신규회원</p>
                      </div>
                      <div class="premium-review__desc">
                        <p class="premium-review__date">2024-05-05</p>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="premium-review__content">
                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <p class="premium-review__title p_2">
                        즉결/BLUE GIANT/전10권/이시즈카이시즈카이시즈카이시즈카이시즈카이시즈카 신이 치/전권·완결  [1]
                      </p>
                      <p class="premium-review__con p_1">잘 도착 하였읍니다. 상태도 좋아요…..</p>
                    </div>
                    <figure class="premium-review__img img-wrap">
                      <img src="../../assets/images/dummy/review.jpg" alt="" />
                    </figure>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="" class="premium-review-box community-box line">
                    <div class="premium-review__left">
                      <div class="premium-review__info">
                        <p class="premium-review__name">Yyoo007</p>
                        <p class="premium-review__status">신규회원</p>
                      </div>
                      <div class="premium-review__desc">
                        <p class="premium-review__date">2024-05-05</p>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="premium-review__content">
                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <p class="premium-review__title p_2">
                        즉결/BLUE GIANT/전10권/이시즈카이시즈카이시즈카이시즈카이시즈카이시즈카 신이 치/전권·완결  [1]
                      </p>
                      <p class="premium-review__con p_1">잘 도착 하였읍니다. 상태도 좋아요…..</p>
                    </div>
                    <figure class="premium-review__img img-wrap">
                      <img src="../../assets/images/dummy/review.jpg" alt="" />
                    </figure>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="" class="premium-review-box community-box line">
                    <div class="premium-review__left">
                      <div class="premium-review__info">
                        <p class="premium-review__name">Yyoo007</p>
                        <p class="premium-review__status">신규회원</p>
                      </div>
                      <div class="premium-review__desc">
                        <p class="premium-review__date">2024-05-05</p>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="premium-review__content">
                      <div class="item__market line">
                        <figure class="item__country">
                          <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                        </figure>
                        <p>이베이경매</p>
                      </div>

                      <p class="premium-review__title p_2">
                        즉결/BLUE GIANT/전10권/이시즈카이시즈카이시즈카이시즈카이시즈카이시즈카 신이 치/전권·완결  [1]
                      </p>
                      <p class="premium-review__con p_1">잘 도착 하였읍니다. 상태도 좋아요…..</p>
                    </div>
                    <figure class="premium-review__img img-wrap">
                      <img src="../../assets/images/dummy/review.jpg" alt="" />
                    </figure>
                  </a>
                </li>
              </ul>
              <!-- 페이지네이션 -->
              <div class="basic-pagination">
                <button class="first-button" type="button"></button>
                <button class="prev-button" type="button"></button>

                <div class="basic-pagination__button-wrap">
                  <button class="page-button" type="button">1</button>
                  <button class="page-button active" ype="button">2</button>
                  <button class="page-button" type="button">3</button>
                  <button class="page-button" type="button">4</button>
                  <button class="page-button" type="button">5</button>
                </div>

                <button class="next-button" type="button"></button>
                <button class="last-button" type="button"></button>
              </div>
            </article>

            <!-- 일반 후기 (12,000) -->
            <article class="basic-review">
              <h3 class="community-sub-title">
                <b>일반 후기<small>(12,000)</small></b>
              </h3>

              <ul class="basic-review__list">
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도 좋아요…..<br />
                        포장두 완벽 하구요….
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
                <!-- 1 -->
                <li>
                  <a href="../community/review_details.html" class="review-box community-box line">
                    <div class="review__user">
                      <figure class="review__user-img img-wrap">
                        <img src="../../assets/images/dummy/user.png" alt="" />
                      </figure>
                      <div class="review__user-info">
                        <div class="review__user-name-wrap">
                          <p class="review__user-name">Yyoo007</p>
                          <p class="review__user-status">신규회원</p>
                        </div>
                        <div class="review__rating">
                          <div class="review__star">
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/star_red.svg" alt="별점" /></span>
                            <span><img src="../../assets/images/icon/start_red_empty.svg" alt="별점" /></span>
                            <span class="review__star-num">4</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>이베이경매</p>
                    </div>

                    <div class="review__content">
                      <p class="review__title p_2">즉결/BLUE GIANT/전10권/이시즈카 신이 치/전권·완결  [1]</p>
                      <p class="review__text p_2">
                        잘 도착 하였읍니다. 상태도착 하였읍니다. 상태도착 하였읍니다. 상태도착 하였읍니다. 상태도착
                        하였읍니다. 상태도착 하였읍니다. 상태
                      </p>
                      <p class="review__date">2024-05-05</p>
                    </div>
                  </a>
                </li>
              </ul>
              <!-- 페이지네이션 -->
              <div class="basic-pagination">
                <button class="first-button" type="button"></button>
                <button class="prev-button" type="button"></button>

                <div class="basic-pagination__button-wrap">
                  <button class="page-button" type="button">1</button>
                  <button class="page-button active" ype="button">2</button>
                  <button class="page-button" type="button">3</button>
                  <button class="page-button" type="button">4</button>
                  <button class="page-button" type="button">5</button>
                </div>

                <button class="next-button" type="button"></button>
                <button class="last-button" type="button"></button>
              </div>
            </article>
          </div>
        </section>
      </main>
      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
