<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="naver" />
    <meta name="description" content="웹페이지 설명" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:title" content="BIDBUY" />
    <meta property="og:type" content="website" />
    <!-- 웹페이지 타입(blog, website 등) -->
    <meta property="og:keywords" content="웹페이지 URL" />
    <meta property="og:description" content="웹페이지 설명" />
    <meta property="og:url" content="https://www.naver.com" />
    <meta property="og:image" content="이미지경로" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="이미지 alt" />
    <meta property="og:site_name" content="BIDBUY" />
    <meta name="twitter:site" content="@트위터아이디" />
    <!-- 웹 사이트의 @username -->
    <meta name="twitter:url" content="http://~~~~/this.page" />
    <!-- 웹상 경로(URL). 불필요 get param을 제거하는 편을 추천 -->
    <meta name="twitter:title" content="naver" />
    <!-- 트위터: 콘텐츠 제목-->
    <meta name="twitter:description" content="웹페이지 설명" />
    <!-- 트위터: 웹페이지 설명 -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- 트위터: 카드 타입(요약정보, 사진, 비디오) / 카드형식 :  “summary”, “summary_large_image”, “app”, or “player” -->
    <meta name="twitter:image" content="https://example.com/ogp.jpg" />
    <!-- 트위터: 표시되는 이미지 / 절대경로 -->
    <link rel="canonical" href="http://~~~~/this.page" />
    <!-- 표준 페이지 설정. 검색엔진에서 현재 페이지의 URL을 알려둔다. 같은 페이지이지만, 여러 URL이 있는 경우 설정하면, 표준 페이지의 URL로 검색엔진이 보여준다.
		SEO를 신경쓴다면 꼭 설정  -->

    <link rel="icon" href="../../assets/images/icon/logo.svg" sizes="32x32" />
    <link rel="apple-touch-icon" href="이미지경로" />
    <title>Bidbuy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/libary/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- JS -->
    <script src="../../assets/js/libary/jquery-3.5.1.js"></script>
    <script src="../../assets/js/libary/swiper-bundle.min.js" defer></script>
    <script src="../../assets/js/include.js" defer></script>
    <script src="../../assets/js/common.js" defer></script>
  </head>

  <body>
    <div id="content-wrap">
      <!-- START :: HEADER -->
      <header class="search-header">
        <button type="button" onclick="history.back()" class="search-page-button">
          <span class="blind">뒤로가기</span>
        </button>
        <h1>검색</h1>
      </header>
      <!-- END :: HEADER -->
      <!-- START :: MAIN -->
      <div id="main" class="list-page search-page">
        <div class="inner-width">
          <section class="top-content">
            <h2><strong>“PXG”</strong><span class="search-end-text">에 대한 검색 결과 입니다.</span></h2>
            <div class="button-wrap">
              <button type="button" class="like-keyword-button" onclick="toggleKeyword(this, event)">
                <input type="checkbox" id="likeKeyword" />
                <label for="likeKeyword"></label>
              </button>
              <button class="share-button" type="button"></button>
            </div>
          </section>

          <section class="search__result">
            <div class="search__utils">
              <ul class="search__filter">
                <li>
                  <div class="tab-check-button">
                    <input type="checkbox" name="" id="searchAll" checked />
                    <label for="searchAll">전체</label>
                  </div>
                  <div class="tab-check-button">
                    <input type="checkbox" name="" id="searchBid" />
                    <label for="searchBid">경매</label>
                  </div>
                  <div class="tab-check-button">
                    <input type="checkbox" name="" id="searchBuy" />
                    <label for="searchBuy">구매</label>
                  </div>
                </li>
                <li>
                  <div class="tab-check-button">
                    <input type="checkbox" name="" id="searchJp" />
                    <label for="searchJp">일본</label>
                  </div>
                  <div class="tab-check-button">
                    <input type="checkbox" name="" id="searchUsa" />
                    <label for="searchUsa">미국</label>
                  </div>
                  <div class="tab-check-button">
                    <input type="checkbox" name="" id="searchUK" />
                    <label for="searchUK">영국</label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="search-item-box">
              <ul class="search-item item-list">
                <li class="item-box favorite-item">
                  <a href="" class="item__img img-wrap">
                    <img src="https://placehold.co/400x20" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">¥<s>18,000</s></span>
                        <span class="item__discount-percent">(40%)</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>

                    <div class="item__bottom">
                      <div class="item-button-wrap">
                        <button class="item-button__cart">
                          <span class="blind">장바구니</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onClick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">즉시낙찰 ¥299</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>

                    <div class="item__bottom">
                      <p>
                        05.04<br />
                        14:47(1일)
                      </p>
                      <div class="item-button-wrap">
                        <a href="제품상세" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                        <a href="제품상세" class="item-button__buy basic-button__blue">
                          구매
                          <div class="num-badge">5</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onClick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">즉시낙찰 ¥299</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>

                    <div class="item__bottom">
                      <p>
                        05.04<br />
                        14:47(1일)
                      </p>
                      <div class="item-button-wrap">
                        <a href="제품상세" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                        <a href="제품상세" class="item-button__buy basic-button__blue">
                          구매
                          <div class="num-badge">5</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onClick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
                <li class="item-box">
                  <a href="" class="item__img img-wrap">
                    <img src="../../assets/images/dummy/item_01.jpg" alt="item" />
                  </a>
                  <div class="item__info">
                    <div class="item__market line">
                      <figure class="item__country">
                        <img src="../../assets/images/icon/country_jp.png" alt="jp" />
                      </figure>
                      <p>라쿠텐 - Ten past Ten</p>
                    </div>
                    <a href="" class="item__name">あすつく ビール 送料無料 アサヒ</a>
                    <div class="item__price">
                      <p>¥ 10,000</p>
                      <p class="item__discount-price">
                        <span class="item__total-price">즉시낙찰 ¥299</span>
                      </p>
                    </div>
                    <div class="item-tags">
                      <span>#Nike</span>
                      <span>#배송무료</span>
                      <span>#중고</span>
                    </div>

                    <div class="item__bottom">
                      <p>
                        05.04<br />
                        14:47(1일)
                      </p>
                      <div class="item-button-wrap">
                        <a href="제품상세" class="item-button__bid basic-button__dark-gray">
                          입찰
                          <div class="num-badge">5</div>
                        </a>
                        <a href="제품상세" class="item-button__buy basic-button__blue">
                          구매
                          <div class="num-badge">5</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <button class="like-button" type="button" onClick="onClickLikeButton(this)">
                    <span>25</span>
                    <span class="like-button__icon"></span>
                  </button>
                </li>
              </ul>
              <div class="bottom-pagination-wrap">
                <div class="basic-pagination">
                  <button class="first-button" type="button"></button>
                  <button class="prev-button" type="button"></button>

                  <div class="basic-pagination__button-wrap">
                    <button class="page-button" type="button">1</button>
                    <button class="page-button active" ype="button">2</button>
                    <button class="page-button" type="button">3</button>
                    <button class="page-button" type="button">4</button>
                    <button class="page-button" type="button">5</button>
                  </div>

                  <button class="next-button" type="button"></button>
                  <button class="last-button" type="button"></button>
                </div>
              </div>
            </div>
          </section>
          <section class="search__menu-depth">
            <p class="menu-depth__title">
              <strong>PXG</strong> 검색결과 <span>(아이템 전체 <b>560</b>건)</span>
            </p>

            <div class="menu-depth__list-wrap">
              <ol class="menu-depth__list">
                <li><span>레져스포츠</span></li>
                <li><span>게임</span></li>
                <li><span>게임기</span></li>
                <li>
                  <a href="">닌텐도 </a>
                </li>
              </ol>
              <ol class="menu-depth__list">
                <li><span>일본야후경매</span></li>
                <li><span>레져스포츠</span></li>
                <li><span>게임</span></li>
                <li><span>게임기</span></li>
                <li>
                  <a href="">닌텐도 스위치</a>
                </li>
              </ol>
              <ol class="menu-depth__list">
                <li><span>레져스포츠</span></li>
                <li><span>게임</span></li>
                <li><span>게임기</span></li>
                <li>
                  <a href="">닌텐도 클래식 미니</a>
                </li>
              </ol>
            </div>

            <!-- PC와 다릅니다... -->
            <div class="bottom-pagination-wrap">
              <div class="basic-pagination">
                <button class="first-button" type="button"></button>
                <button class="prev-button" type="button"></button>

                <div class="basic-pagination__button-wrap">
                  <button class="page-button" type="button">1</button>
                  <button class="page-button active" ype="button">2</button>
                  <button class="page-button" type="button">3</button>
                  <button class="page-button" type="button">4</button>
                  <button class="page-button" type="button">5</button>
                </div>

                <button class="next-button" type="button"></button>
                <button class="last-button" type="button"></button>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- END :: MAIN -->
      <!-- START :: FOOTER -->
      <footer id="footer"></footer>
      <!-- END :: FOOTER -->
    </div>
  </body>
</html>
