@charset "utf-8";

/* 제품 상세페이지 */
.detail-page {
  padding: 14px 0 67px;

  & .platform {
    display: flex;
    align-items: center;
    min-width: 100%;
    color: var(--col_gray_6);
    padding: 7px 16px;
    font-size: 14px;
    border: solid 1px #e8e8e8;
    background-color: var(--col_white);
    border-radius: 5px;
    overflow: hidden;
  }
  & .platform b {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: var(--col_gray_6);
  }
  & .platform .img-wrap {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 13px;
  }
  & .item-info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  & .item-name {
    max-width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.44px;
    color: var(--col_black_1);
    padding-right: 20px;
  }
  & .top-content__utils {
    position: relative;
    display: flex;
    gap: 10px;
  }
  & .top-content__utils button {
    font-size: 14px;
  }
  & .top-content__utils .utils-toggle-button {
    width: 30px;
    height: 30px;
    background: url("../../assets/images/icon/more.svg") no-repeat center right / contain;
  }
  & .top-content__utils-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    z-index: 2;
  }
  & .option-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  & .top-content__utils-options .modal__close-button {
    position: absolute;
    top: 22px;
    right: 16px;
    width: 16px;
    height: 16px;
  }
  & .option-inner > * {
    padding: 6px 0;
  }
  & .detail-item-box {
    position: relative;
    margin-top: 15px;
  }

  & .item-img-and-seller {
    flex-shrink: 0;
    width: 100%;
  }

  & .item-slider {
    width: 100%;
  }

  & .swiper-slide figure {
    display: grid;
    place-content: center;
  }

  & .bigImgSlide {
    width: 100%;
    /* height: 356px; */
    aspect-ratio: 1/1;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    overflow: hidden;
    margin-bottom: 12px;
  }
  & .thumbsSlide-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vw * (65 / 375));
  }
  & .thumbsSlide {
    width: calc(100% - (27px * 2));
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & .thumbsSlide .swiper-slide {
    width: 86px;
    height: 100%;
    border-radius: 5px;
    border: solid 1px var(--col_gray_4);
    overflow: hidden;
  }

  & .thumbsSlide .swiper-slide-thumb-active {
    border-color: var(--col_gray_6);
  }

  & .thumbs-button-next,
  & .thumbs-button-prev {
    position: absolute;
    top: 0;
    flex-shrink: 0;
    width: 22px;
    height: 100%;
    border-radius: 5px;
    border: solid 1px var(--col_gray_1);
    background: var(--col_white) url("../images/icon/arrow_right_light_gray_thin.svg") no-repeat center / 16px 16px;
    z-index: 2;
  }
  & .thumbs-button-next::after,
  & .thumbs-button-prev::after {
    display: none !important;
  }
  & .thumbs-button-next {
    right: 0;
  }
  & .thumbs-button-prev {
    left: 0;
    transform: rotate(-180deg);
  }
  & .swiper-button-disabled {
    opacity: 0.5;
  }
  & .seller-info {
    width: 100%;
    padding: 20px 15px 18px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
    margin-top: 40px;
  }

  & .seller-info__left li {
    display: flex;
    align-items: center;
  }
  & .seller-info__left li + li {
    border-top: 1px solid var(--col_gray_1);
  }
  & .seller-into__title {
    flex-shrink: 0;
    width: 75px;
  }
  & .seller-info__desc {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
  }
  & .seller-info__desc .img-wrap {
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
  }
  & .seller-info__desc b {
    flex: 1;
    min-width: 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
  }

  & .like-seller__button {
    flex-shrink: 0;
    margin-left: auto;
  }
  & .seller-info__desc .basic-button__gray-line {
    font-size: 11px;
    font-weight: 500;
    color: var(--col_gray_5);
    padding: 5px 10px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
  }

  & .like-seller__button input {
    display: none;
  }
  & .seller-info__adr {
    padding-top: 11px;
    margin-top: 9px;
    padding-bottom: 12px;
  }
  & .seller-info__rating {
    padding: 11px 0 13px;
  }

  & .like-seller__button label {
    display: flex;
    align-items: center;
    padding: 7px 9px;
    gap: 5px;
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
    background-color: #f7f7f7;
  }
  & .like-seller__button-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background: url("../images/icon/like_off.svg") no-repeat center / contain;
  }
  & .like-seller__button-text {
    font-size: 12px;
    font-weight: 500;
    color: var(--col_gray_5);
  }

  & .like-seller__button input[type="checkbox"]:checked ~ label .like-seller__button-text {
    color: var(--col_black_1);
  }
  & .like-seller__button input[type="checkbox"]:checked ~ label .like-seller__button-icon {
    background-image: url("../images/icon/like.svg");
    animation: animateHeart 0.3s linear forwards;
  }
  & .seller-info__review-line {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 20px;
  }

  & .seller-info__review {
    font-size: 14px;
    font-weight: bold;
    color: var(--col_black_1);
    margin-right: 16px;
  }

  & .seller-review__star {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  & .seller-review__star span {
    flex-shrink: 0;
    width: 15px;
    height: 14px;
  }
  & .seller-review__star-num {
    font-size: 16px;
    font-weight: bold;
    color: var(--col_gray_6);
    margin-right: 11px;
  }

  /* 입찰 / 즉시날찰 탭 */
  & .bid-tab-and-seller-items {
    flex-shrink: 0;
    width: 100%;
    margin-top: 40px;
  }

  & .item-info {
    width: 100%;
  }

  & .item-info__tabs {
    display: flex;
    border: none;
  }

  & .item-info__tabs > button {
    flex: 0 1 50%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    color: var(--col_gray_6);
    border-radius: 12px 12px 0 0;
    background-color: var(--col_gray_1);
  }
  & .item-info__tabs > button b {
    font-weight: 600;
  }
  & .item-info__tabs > button::before {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--col_gray_4);
    content: "";
    z-index: 1;
  }
  & .item-info__tabs > button.active {
    font-weight: bold;
    border: 1px solid var(--col_gray_4);
    background-color: var(--col_white);
    border-bottom: none;
  }
  & .item-info__tabs > button.active::before {
    background-color: var(--col_white);
  }
  & .item-info__tabs > button.active::after {
    display: none;
  }
  & .item-info__tabs > button.active b {
    color: var(--mainBlue);
    font-weight: 700;
  }

  & .item-info__tabs-content > li {
    display: flex;
    background-color: var(--col_white);
    border: solid 1px var(--col_gray_4);
    border-radius: 0 0 12px 12px;
    overflow: hidden;
  }
  & .item-info__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    padding: 28px 20px 31px;
  }

  & .item-info__line {
    display: flex;
    align-items: center;
    line-height: 1.4;
  }

  & .item-info__line + .item-info__line {
    margin-top: 20px;
  }
  & .item-info__line + .item-info__line:has(strong) {
    margin-top: 11px;
  }
  & .item-info__line + .item-info__line:has(.radio-check-button) {
    margin-top: 14px;
  }
  & .item-info__line + .item-info__line:has(.flex-column) {
    align-items: flex-start;
  }
  & .item-info__line + .item-info__line:has(textarea) {
    margin-top: 16px;
  }

  & .item-info__line:has(textarea) {
    align-items: flex-start;
  }

  & .line-gray {
    margin: 13.5px 0;
    border: none;
    border-top: 1px solid var(--col_gray_1);
    border-color: var(--col_gray_1);
  }
  & .item-info__title {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
  }
  & .item-info__title.clock-icon:before {
    flex-shrink: 0;
    content: "";
    width: 22px;
    height: 22px;
    background: url("../images/icon/clock_line.svg") no-repeat center / contain;
    margin-right: 5px;
  }
  & .item-info__title.w-icon:before {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    content: "";
    background: url("../images/icon/won.svg") no-repeat center / contain;
    margin-right: 5px;
  }
  & .item-info__desc {
    flex: 1 1 50%;
    font-size: 14px;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
  }

  & .item-info__desc:has(.radio-check-button) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  & .item-info__desc.flex-column:has(.radio-check-button) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  & .item-info__desc:has(textarea) {
    padding-right: 0;
  }
  & .item-info__desc:has(strong) {
    font-size: 16px;
  }
  & .basic-select-box {
    width: 158px;
    height: 34px;
  }
  & .basic-select-box select {
    background: var(--col_white) url(../images/icon/arrow_down_gray.svg) no-repeat 95% center / 20px 20px;
  }
  & .item-info__desc strong {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
  & .item-info__gray {
    font-size: 12px;
    letter-spacing: -0.24px;
    color: var(--col_gray_6);
    margin-top: 10px;
    margin-left: 50%;
  }
  & .details-button-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    margin-top: 27px;
    /* margin-top: auto; */
  }
  & .details-button-wrap > button {
    flex-shrink: 0;
    height: 100%;
  }
  & .details-button-wrap > button:not(.chat-button) {
    flex: 1;
    border-radius: 22.5px;
  }
  & .bid-check-button label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 700;
    color: var(--mainBlue);
    background-color: var(--col_white);
    border: 1px solid var(--mainBlue);
    padding: 0 17px;
  }

  & .bid-check-button input {
    display: none;
  }
  & .bid-check-button label:after {
    position: absolute;
    top: 50%;
    right: 20px;
    content: "";
    background: url("../images/icon/button_check_blue.svg") no-repeat center / contain;
    width: 19.5px;
    height: 19.5px;
    transform: translateY(-50%);
  }
  & .bid-check-button small {
    font-size: 11px;
    font-weight: bold;
    color: var(--col_gray_6);
    margin-left: 10px;
  }
  & .bid-check-button input:checked ~ label {
    justify-content: center;
    color: var(--col_white);
    background-color: var(--mainBlue);
  }
  & .bid-check-button input:checked ~ label small {
    display: none;
  }

  & .bid-check-button input:checked ~ label:after {
    background-image: url("../images/icon/button_check_white.svg");
  }

  & .chat-button {
    width: 45px;
    height: 45px;
    background: url("../images/icon/chat.svg") no-repeat center / contain;
  }

  /* 입찰내역 / 예상입찰비용 */
  /* 입찰내역 / 예상입찰비용 - 예상입찰비용 */
  & .item-info__right {
    background-color: #f2f7fd;
    margin-top: 40px;
    border-radius: 12px;
    overflow: hidden;
  }
  & .item-bid__tabs {
    display: inline-flex;
    border: none;
    width: 100%;
    height: 52px;
  }

  & .item-bid__tabs > button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
    background-color: #e6f0fb;
  }
  & .item-bid__tabs > button.active {
    font-weight: bold;
    background-color: transparent;
  }

  & .item-bid__tabs > button.active::after {
    display: none;
  }

  & .item-bid__tabs-content {
    padding: 18px 20px 26px;
  }
  & .item-info__right .item-info__line + .item-info__line:has(.basic-select-box) {
    margin-top: 11px;
  }
  & .item-info__right .item-info__title {
    width: 158px;
  }
  & .item-info__right .item-info__desc {
    text-align: right;
    padding-left: 10px;
    padding-right: 0;
  }

  & .item-info__right .item-info__desc .basic-select-box {
    width: 110px;
    height: 34px;
    margin-left: auto;
  }
  & .item-total-price {
    display: flex;
    align-items: flex-start;
  }
  & .item-total-price .item-info__title {
    font-weight: bold;
    color: var(--mainBlue);
  }
  & .item-total-price .item-info__desc {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.44px;
    color: var(--col_black_1);
  }

  /* 입찰내역 / 예상입찰비용 - 입찰내역 */
  & .bid-details-status {
    width: 100%;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
    padding: 28px;
  }
  & .bid-details-status__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .bid-details-status__inner p {
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: -0.3px;
    text-align: center;
    color: var(--col_black_1);
  }

  & .bid-details-status__inner .bid-details-status__desc {
    font-size: 12px;
    letter-spacing: -0.24px;
    color: var(--col_gray_6);
    margin-top: 4px;
  }
  & .bid-details-status__button-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 40px;
    margin-top: 20px;
  }
  & .bid-details-status__button-wrap button {
    flex: 1;
    height: 100%;
    border-radius: 20px;
    font-size: 13px;
    letter-spacing: -0.26px;
  }
  & .bid-details-status__button-wrap a {
    flex: 1;
    height: 100%;
    border-radius: 20px;
    font-size: 13px;
    letter-spacing: -0.26px;
  }
  /* TABLE */
  & .bid-details-table {
    position: relative;
  }
  & .bid-details-table:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba(110, 116, 255, 0.5);
    z-index: 2;
  }
  & .bid-details-table:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba(110, 116, 255, 0.2);
    z-index: 2;
  }
  & .bid-details-table__inner {
    position: relative;
    max-height: 225px;
    overflow-y: auto;
    margin-top: 30px;
  }

  & .bid-details-table__inner {
    -ms-overflow-style: none;
  }
  & .bid-details-table__inner::-webkit-scrollbar {
    display: none;
  }

  & .bid-details-table table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f7fd;
  }
  & .bid-details-table tr + tr {
    border-top: 1px solid rgba(110, 116, 255, 0.2);
  }
  & .bid-details-table :is(th, td) {
    text-align: center;
  }
  & .bid-details-table span {
    display: inline-block;
  }
  & .bid-details-table thead {
    position: sticky;
    top: 0;
    height: 39px;
    background-color: #f2f7fd;
  }
  & .bid-details-table thead:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba(110, 116, 255, 0.2);
    z-index: 2;
  }
  & .bid-details-table thead span {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.26px;
    color: var(--col_black_1);
    padding: 12px 5px;
  }
  & .thead-bid-time {
    width: 80px;
  }
  & .thead-bid {
    width: 162px;
    text-align: center;
  }
  & .thead-bid-status {
    width: 90px;
  }
  & .bid-details-table tbody span {
    padding: 9px 5px;
  }
  & .bid-details-table tbody th span {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: center;
    color: var(--col_gray_6);
  }

  & .bid-details-table tbody td span {
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: -0.26px;
    text-align: center;
    color: var(--col_black_1);
  }

  & .basic-textarea {
    width: 100%;
    height: 112px;
  }

  /* 체크사항 */
  & .item-check-list {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    background: url("../../assets/images/banner/details_card.jpg") no-repeat center / cover;
    margin-top: 40px;
  }
  & .item-check-list__left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    display: flex;
  }
  & .item-check-list__left h4 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--col_black_2);
  }
  & .item-check-list__left h4::before {
    flex-shrink: 0;
    content: "";
    width: 17.4px;
    height: 17.4px;
    margin-right: 10px;
    background: url("../images/icon/check_list.svg") no-repeat center / contain;
  }
  & .item-check-list__left ol {
    margin-top: 11px;
    padding-left: 28px;
  }
  & .item-check-list__left li {
    font-size: 14px;
    line-height: 1.71;
    color: var(--col_black_2);
  }
  & .item-check-list__right {
    margin-top: 20px;
  }
  & .item-check-list__right dl {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  & .item-check-list__right dt {
    font-size: 14px;
    line-height: 1.71;
    font-weight: bold;
    color: var(--col_gray_6);
  }
  & .item-check-list__right dd {
    font-size: 13px;
    line-height: 1.6;
    color: var(--col_gray_6);
  }

  /* 상세정보 / 출품자문의 / 연관아이템 */
  & .item-detail-info {
    margin-top: 40px;
  }
  & .item-detail-info .tabs {
    position: sticky;
    top: 62px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--col_white);
    z-index: 3;
  }
  & .item-detail-info .tabs:before {
    position: absolute;
    bottom: calc(100% + 1px);
    left: 50%;
    width: calc(100% + 2px);
    height: 10px;
    content: "";
    background-color: var(--col_white);
    transform: translateX(-50%);
  }

  & .item-detail-info .tabs-content > li {
    padding: 40px 0;
  }
  & .item-detail-info .tabs-content article + article {
    margin-top: 40px;
  }
  & .item-detail-info h5 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: var(--col_black_1);
    margin-bottom: 20px;
  }
  & .item-detail-info .inquiry-history__empty {
    display: grid;
    place-content: center;
    height: 84px;
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
  }

  & .product-details__info li {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
  }
  & .product-details__image {
    width: 100%;
    margin-top: 35px;
  }
  & .product-details__image img {
    width: 100%;
    height: auto;
  }

  & .inquiry-button-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 45px;
    margin-top: 20px;
    gap: 10px;
  }
  & .inquiry-button-wrap button {
    /* width: 214px; */
    flex: 1;
    height: 100%;
    font-size: 16px;
    border-radius: 30px;
  }

  & .inquiry-list-wrap {
    border-top: 1px solid var(--col_gray_3);
  }

  & .inquiry-list {
    border-bottom: 1px solid var(--col_gray_3);
  }
  & .inquiry-list.show {
    border-bottom: none;
  }
  & .inquiry-question {
    padding: 20px 0;
  }
  & .inquiry-list__tittle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: -0.14px;
    margin-right: 15px;
    color: var(--col_black_2);
  }

  & .inquiry-list__desc {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: -0.15px;
    color: var(--col_black_1);
    margin-top: 20px;
  }
  & .inquiry-answer .inquiry-list__desc {
    font-size: 14px;
    color: var(--col_black_2);
    margin-top: 10px;
  }
  & .inquiry-question__etc {
    display: flex;
    align-items: center;
  }
  & .inquiry-list__time {
    font-size: 13px;
    color: #999;
  }
  & .inquiry-list__statue {
    flex-shrink: 0;
    display: grid;
    place-content: center;
    min-width: 94px;
    height: 30px;
    padding: 7px 25px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    margin-left: auto;
  }
  & .inquiry-answer {
    flex-direction: column;
    padding: 15px;
    background-color: var(--col_gray_2);
    border: solid 1px var(--col_gray_3);
  }
  & .inquiry-answer .inquiry-list__tittle {
    margin-right: 0;
  }

  & .inquiry-pagination-wrap {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  & .seller-answer .inquiry-list__time {
    font-size: 13px;
    font-weight: 400;
  }
  & .seller-answer .inquiry-list__statue {
    padding: 7px 25px;
    height: 30px;
  }

  & .inquiry-seller-form__inner {
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
    padding: 20px 15px;
  }
  & .inquiry-seller__line:has(input) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  & .inquiry-seller__line + .inquiry-seller__line {
    margin-top: 15px;
  }

  & .inquiry-seller__line label {
    display: block;
    margin-bottom: 10px;
  }
  & .inquiry-seller-input input {
    width: 100%;
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
    padding: 15px 12px;
  }
  & .inquiry-seller__line label {
    display: block;
    margin-bottom: 10px;
  }
  & .inquiry-seller-input input {
    width: 100%;
    padding: 15px 12px;
  }
  & .inquiry-seller-form .basic-textarea {
    height: 112px;
  }

  & .inquiry-seller-form .basic-button__black-line {
    width: 150px;
  }

  & .related-item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
  }

  & .related-item-list .item-box {
    width: calc((100% - 13px) / 2);
  }
}
/* 상세페이지 모달 공통 */
.bid-modal .bid-order {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* justify-content: space-between; */
}
.bid-modal .bid-order-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
  height: 72px;
  padding: 9px;
  border-radius: 11px;
  box-shadow: 0 0 0 1px var(--col_gray_6) inset;
  background-color: var(--col_white);
}
.bid-modal .bid-order-list + .bid-order-list::before {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 15px;
  height: 15px;
  content: "";
  transform: translateY(-50%);
  background: url("../images/icon/arrow_right_light_gray.svg") no-repeat center / contain;
}

.bid-modal .bid-order__num {
  display: grid;
  place-content: center;
  flex-shrink: 0;
  width: 29px;
  height: 29px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: -0.22px;
  color: var(--col_black_1);
  border-radius: 50%;
  padding: 7px;
  background-color: var(--col_gray_1);
  margin-bottom: 8px;
}
.bid-modal .bid-order__text {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.46;
  letter-spacing: -0.33px;
  text-align: center;
  color: var(--col_gray_6);
}
.bid-modal .bid-order-list.active {
  box-shadow: 0 0 0 1.5px var(--mainBlue) inset;
  background-color: #edf6ff;
}
.bid-modal .bid-order-list.active .bid-order__num {
  background-color: var(--mainBlue);
  color: var(--col_white);
}
.bid-modal .bid-order-list.active .bid-order__text {
  color: var(--col_black_1);
}
.bid-modal .bid-item-details {
  padding: 15px 13px;
  border-radius: 12px;
  background-color: var(--col_gray_2);
  margin-top: 20px;
}

.bid-modal .bid-item-details li {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.33px;
  color: var(--col_black_1);
  padding-left: 10px;
}
.bid-modal .bid-item-details li + li {
  margin-top: 14px;
}

.bid-modal .bid-item-details li::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  background-color: var(--col_gray_7);
}

.bid-modal .bid-order__notice {
  margin-top: 20px;
  padding-bottom: 13px;
  border-bottom: 1px solid var(--col_gray_4);
}
.bid-modal .bid-order__notice p {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
  margin-bottom: 8px;
}
.bid-modal .bid-order__notice pre {
  width: 100%;
  height: 130px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: var(--col_gray_6);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}
.bid-modal .modal-check-box-wrap {
  margin-top: 18px;
}
.bid-modal .modal-check-box label {
  justify-content: center;
}
.depth-two .bid-order__option {
  padding: 20px 0 23px;
  border-bottom: 1px solid var(--col_gray_4);
}
.depth-two .bid-order__option > li {
  position: relative;
  display: flex;
  align-items: center;
}
.depth-two .bid-order__option > li.bid-order__column {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.depth-two .bid-order__option > li::before {
  content: "·";
  flex-shrink: 0;
  width: 9px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: var(--col_gray_7);
}
.depth-two .bid-order__option > li:not(:has(label))::before {
  content: "";
}

.depth-two .bid-order__option > li + li {
  margin-top: 14px;
}
.depth-two .bid-order__option > li + li:has(.radio-check-button) {
  margin-top: 18px;
}
.depth-two .bid-order__option > li:has(.bid-order__price-desc) + li {
  margin-top: 35px;
}
.modal-negotiation-purchase .bid-order__option > li:has(.two-depth__option-input-small) + li:has(.radio-check-button) {
  margin-top: 47px;
}
.depth-two .bid-order__option .offer-list + li {
  margin-top: 70px !important;
}
.depth-two .bid-order__option-label {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 85px;
  font-size: 13px;
  letter-spacing: -0.33px;
  color: var(--col_black_1);
}
.depth-two .bid-order__option-desc {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex: 1;
}

.depth-two .bid-order__option-desc .basic-input {
  width: 100%;
}
.depth-two .bid-order__option-desc:has(input[type="radio"]) {
  gap: 19px;
}
.depth-two .basic-select-box {
  flex-shrink: 0;
  width: 110px;
  height: 34px;
}

.depth-two input {
  width: 100%;
  height: 34px;
  padding: 0 9px;
  font-size: 13px;
  letter-spacing: -0.26px;
}
.depth-two .bid-order__price-desc {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  font-size: 13px;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
}
.depth-two .time-select,
.depth-two .date-input input {
  flex: 1;
  min-width: 0;
}

.depth-two .time-input-group {
  display: flex;
  align-items: center;
  gap: 5px;
}
.depth-two .time-input-group input {
  flex: 1;
  min-width: 0;
}
.depth-two .time-input-group small {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
}
.two-depth__option-input input::placeholder {
  color: var(--col_gray_4);
}
.two-depth__option-input-small {
  position: absolute;
  top: calc(100% + 32px);
  left: 0;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
}
.depth-three__alert-text {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.28px;
  color: var(--col_black_1);
  padding: 30px 0 10px;
}
.depth-three .bid-item-details__dt {
  flex-shrink: 0;
  display: inline-block;
  width: 105px;
}
.depth-three .bid-item-details__dd-gray {
  font-size: 13px;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
  margin-left: 10px;
}
.depth-three__notice {
  text-align: center;
  padding: 14px 0 22px;
  border-bottom: 1px solid var(--col_gray_4);
}
.depth-three__notice p {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
}
.depth-three__notice small {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.24px;
  color: var(--col_gray_6);
  margin-top: 6px;
}

.bid-modal .modal-button-wrap {
  margin-top: 20px;
}
/* MODAL :: 비드바이 입찰 충전 */
.modal-bid-charge .content-box {
  padding: 23px 13px 24px;
  border-radius: 12px;
  background-color: var(--col_gray_1);
}
.modal-bid-charge .modal__content-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.3px;
  color: var(--col_black_1);
  margin-bottom: 24px;
}
.modal-bid-charge .bid-order {
  gap: 12px;
}
.modal-bid-charge .bid-order-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85px;
  height: 93px;
  padding: 10px;
  border-radius: 11px;
  background-color: var(--col_white);
}
.modal-bid-charge .bid-order-list + .bid-order-list::before {
  position: absolute;
  top: 50%;
  left: -11px;
  width: 10px;
  height: 10px;
  content: "";
  transform: translateY(-50%);
  background: url("../images/icon/arrow_right_light_gray.svg") no-repeat center / contain;
}
.modal-bid-charge .bid-order__text {
  color: var(--col_black_1);
}
.modal-bid-charge__notice {
  margin-top: 20px;
}
.modal-bid-charge__notice > li {
  position: relative;
  font-size: 12px;
  line-height: 1.69;
  letter-spacing: -0.26px;
  color: var(--col_gray_6);
  padding-left: 10px;
}
.modal-bid-charge__notice > li::before {
  position: absolute;
  top: calc(1lh / 2 + 2px);
  transform: translateY(-50%);
  left: 0;
  content: "*";
}
.modal-bid-charge .modal-button-wrap {
  margin-top: 25px;
}
/* MODAL :: 장바구니담기 */
.modal-add-to-cart .modal-button-wrap {
  margin-top: 60px;
}
/* MODAL :: 구매신청완료 */
.modal-purchase-complete .modal-button-wrap {
  margin-top: 53px;
}
/* MODAL :: 구매대행신청 */
.modal-proxy-purchase .purchase_num {
  color: var(--mainBlue);
}
.modal-proxy-purchase .modal-button-wrap {
  margin-top: 60px;
}

/* 경매 입찰 완료 페이지 */
.bid-complete-page {
  padding: 0 0 80px;

  & .top-content {
    padding: 60px 0;
    text-align: center;
    background: url("../images/banner/aution_banner.jpg") no-repeat left bottom / cover;
  }
  & .top-content__timestamp {
    font-size: 14px;
    color: var(--col_gray_6);
    margin-bottom: 16px;
  }
  & .top-content__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.24px;
    color: var(--col_black_2);
  }
  & .top-content__bid-amount {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -0.4px;
    text-align: left;
    padding: 15px 40px;
    border-radius: 25px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
    margin-top: 25px;
  }
  & .bid-completion__instructions {
    margin-top: 60px;
    text-align: center;
  }
  & .bid-completion__payment-instructions {
    font-size: 16px;
    font-weight: bold;
    /* line-height: 2.25; */
    letter-spacing: -0.4px;
    color: var(--col_black_1);
  }
  & .bid-completion__note {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: -0.35px;
    color: var(--col_gray_6);
    margin-top: 10px;
  }
  & .bid-completion__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin-top: 30px;
  }
  & .bid-completion__actions > * {
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 0 30px;
    min-width: 130px;
    color: var(--col_gray_5);
  }
  & .item-details {
    margin-top: 40px;
  }
  & .item-details__box {
    padding: 20px 15px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
  }
  & .item-details__header {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--col_black_1);
    margin-bottom: 10px;
  }
  & .item-details__header .img-wrap {
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    overflow: hidden;
  }
  & .item-details__header .item-platform {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: var(--col_gray_6);
    gap: 13px;
    padding: 7px 10px;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    background-color: var(--col_white);
    margin-bottom: 20px;
  }
  & .item-details__content {
    position: relative;
  }
  & .item-name {
    margin-bottom: 20px;
  }
  & .item-details__image {
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1.3/1;
    border-radius: 12px;
    overflow: hidden;
    border: solid 1px var(--col_gray_4);
  }
  & .item-details__info {
    padding: 15px 10px;
    border-radius: 12px;
    background-color: var(--col_gray_2);
    margin-top: 20px;
  }
  & .item-details__bid-info {
    position: relative;
    display: flex;
    align-items: center;
  }
  & .item-details__bid-info::before {
    content: "·";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.32px;
    color: var(--col_gray_7);
    margin-right: 7px;
  }

  & .item-details__label {
    flex-shrink: 0;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.25;
    letter-spacing: -0.4px;
    color: var(--col_black_1);
  }
  & .item-details__value {
    font-size: 14px;
    line-height: 2.25;
    letter-spacing: -0.4px;
    color: var(--col_black_1);
  }
  & .item-details__bid-info:has(.seller-value) {
    align-items: self-start;
  }

  & .seller-value {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--col_gray_6);
  }
  & .seller-value .img-wrap {
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 3px;
  }
  & .seller-value__img {
    flex-shrink: 0;
    width: 23px;
    height: 23px;
    display: grid;
    place-content: center;
    margin: 0 7px 0 10px;
  }
  & .item-details__notes {
    margin-top: 40px;
  }
  & .item-details__note-title {
    flex-shrink: 0;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.45px;
    color: var(--col_gray_6);
  }
  & .item-details__note-list {
    font-size: 14px;
    line-height: 2.07;
    letter-spacing: -0.35px;
    color: var(--col_gray_6);
    list-style: num;
    padding: 0 20px;
  }

  & .item-details__utils {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

/* 주문 페이지 */
.order-page {
  padding: 14px 0 60px;

  & .top-content {
    padding: 20px;
    background: url("../images/banner/order_card.jpg") no-repeat right bottom / cover;
  }
  & .title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  & .title span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
  }
  & .sub-title {
    font-size: 16px;
    letter-spacing: -0.32px;
    color: var(--col_black_1);
    text-align: center;
    margin-top: 10px;
  }

  & .order-step-text > li {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  & .order-step-text > li + li {
    margin-top: 12px;
  }
  & .order-step-title {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.33px;
    color: var(--col_gray_6);
  }
  & .order-step-desc {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.33px;
    color: var(--col_black_1);
  }

  /* 경매 1차 주문결제 */
  & .purchases-tab {
    margin-top: 30px;
  }
  & .tabs {
    height: 60px;
  }
  & .tabs button {
    font-size: 18px;
    font-weight: bold;
  }

  & .order__container {
    margin-top: 27px;
  }
  & .order__left-container {
    margin-top: 40px;
  }

  & .order-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--col_black_1);
    margin-bottom: 15px;
  }
  & .order-title:has(.order-title__sub) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  & .order-title__sub {
    font-size: 13px;
    line-height: 1.57;
    letter-spacing: -0.28px;
    font-weight: 400;
    color: var(--col_gray_5);
    text-decoration: underline;
    margin-left: auto;
  }
  & .order-title small {
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    color: var(--col_gray_6);
  }
  & .order-list + .order-list {
    margin-top: 40px;
  }
  & .order-list-box {
    position: relative;
    padding: 20px 15px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
  }
  & .order-list-box + .order-list-box {
    margin-top: 20px;
  }

  & .order__input-group + .order__input-group {
    margin-top: 24px;
    /* margin-top: 14px; */
  }
  & .order__input-group + .order__input-group.small-margin {
    margin-top: 10px;
  }
  & .order__input-group .basic-input {
    display: flex;
    gap: 10px;
  }
  & .order__input-group > label {
    display: inline-block;
    font-size: 14px;
    line-height: 1.24;
    margin-bottom: 10px;
  }
  & .order__input-group input {
    flex: 1 1 200px;
    min-width: 0;
    height: 48px;
    font-size: 13px;
    padding: 0 9px;
  }
  & .order__input-group .basic-button__light-gray-line {
    font-size: 13px;
    flex: 1 0 95px;
    min-width: 0;
    font-weight: 500;
  }
  & .order__input-group .basic-button__light-gray {
    font-size: 13px;
    flex: 1 0 88px;
    min-width: 0;
    font-weight: 500;
  }
  & .order__quantity-group .basic-input {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  & .order__quantity-button {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    font-size: 14px;
    line-height: 1.57;
    color: var(--col_black_1);
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
  }
  & .order__quantity-group input {
    width: 84px;
    text-align: center;
  }
  & .price__input-group {
    display: flex;
    align-items: center;
  }
  & .basic-price-input {
    flex: 1 1 200px;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 17px 0 9px;
    object-fit: contain;
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_white);
  }
  & .basic-price-input input {
    flex: 1;
    min-width: 0;
    padding: 0;
    text-align: right;
  }

  & .basic-price__currency {
    font-size: 13px;
    color: var(--col_black_1);
  }
  & .basic-price__won {
    flex: 0 0 100px;
    font-size: 13px;
    padding-left: 15px;
  }

  & .order-text-gray {
    font-size: 11px;
    color: var(--col_gray_6);
    margin-left: 11px;
  }
  & .with-text .basic-input {
    display: flex;
    align-items: center;
  }
  & .with-text input {
    flex-shrink: 0;
  }
  & .order-delete-button-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 9px;
  }
  & .order-delete-button {
    font-size: 14px;
    line-height: 1.57;
    text-decoration: underline;
    color: var(--col_gray_6);
  }
  & .add-list-button {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.45px;
    color: var(--col_gray_6);
    padding: 16px 20px 16px 30px;
    border-radius: 25px;
    border: solid 1px var(--col_gray_6);
    margin-top: 20px;
  }
  & .add-list-button:after {
    width: 14.6px;
    height: 14.6px;
    content: "";
    background: url("../../assets/images/icon/plus.svg") no-repeat center / contain;
  }
  & .order-notice {
    margin-top: 40px;
  }
  & .order-notice .order-list-box {
    padding: 20px 15px;
  }

  & .order__requirement textarea {
    width: 100%;
  }
  & .order__right-container {
    /* flex-shrink: 0;
    width: 452px; */
    margin-top: 40px;
  }
  & .notice__content {
    height: 450px;
    padding: 20px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
  }
  & .notice__content pre {
    font-size: 15px;
    height: 100%;
    line-height: 1.67;
    letter-spacing: -0.3px;
    overflow-y: auto;
    color: var(--col_black_1);
  }
  & .order__action-buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_gray_2);
  }

  & .order__action-buttons > * {
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: var(--col_black_1);
    padding: 21px 0;
  }

  & .order__action-buttons > * + * {
    border-left: 1px solid var(--col_gray_4);
  }
  & .order__warnings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    margin-top: 20px;
  }

  & .order__warning-button {
    display: grid;
    place-content: center;
    width: 50%;
    height: 80px;
    font-size: 14px;
    line-height: 1.43;
    color: var(--col_black_1);
  }

  & .order__warning-button:nth-child(odd) {
    border-right: 1px solid var(--col_gray_4);
  }
  & .order__warning-button:nth-child(1),
  & .order__warning-button:nth-child(2) {
    border-bottom: 1px solid var(--col_gray_4);
  }

  & .order__warning-button:hover {
    font-weight: 500;
    color: var(--mainBlue);
    background-color: var(--mainBlueOpacity);
  }
  & .order-check-box {
    font-size: 14px;
    margin-top: 33px;
  }
  & .basic-check-box__squire-text {
    line-height: 1.86;
  }
  & .basic-check-box__squire b {
    white-space: nowrap;
    font-weight: 400;
    color: var(--mainBlue);
  }
  & .order-button-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 60px;
    margin-top: 30px;
  }
  & .order-button-wrap > * {
    flex: 1 0 50%;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
    border-radius: 30px;
  }
  & .order-button-wrap .basic-button__gray-line {
    font-weight: 400;
  }

  /* 경매 1차 주문결제 */

  & .order__table-group + .order__table-group {
    margin-top: 30px;
  }

  & .order__selection {
    flex-shrink: 0;
    width: 208px;
  }
  & .order__title {
    font-size: 14px;
    font-weight: 500;
    color: var(--col_black_1);
  }
  & .basic-select-box {
    width: 158px;
    height: 34px;
    border-radius: 5px;
    background-color: var(--col_white);
    margin-top: 19px;
  }
  & .order-notice__radio {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  & .order-notice__radio .radio-check-button {
    flex: 0 0 107px;
  }
  & .order-notice__radio.purchases-order-radio {
    display: block;
    margin-top: 20px;
  }
  & .order-notice__radio.purchases-order-radio .radio-check-button + .radio-check-button {
    margin-top: 15px;
  }
  & .order__info-area {
    /* flex: 1; */
    margin-top: 20px;
  }
  & .order__info-area > article:last-child {
    border-bottom: solid 1px var(--col_gray_4);
  }
  & .order__table {
    border-top: solid 1px var(--col_gray_4);
    border-left: solid 1px var(--col_gray_4);
    border-right: solid 1px var(--col_gray_4);
  }
  & .order__table span {
    flex: 1;
  }
  & .order__table span + span {
    border-left: solid 1px var(--col_gray_4);
  }
  & .order__table-header {
    display: flex;
    background-color: var(--col_gray_2);
  }

  & .order__table-header span {
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: var(--col_black_2);
    padding: 10px;
  }

  & .order__table-row {
    display: flex;
  }

  & .order__table:has(.order__table-header) .order__table-row {
    border-top: solid 1px var(--col_gray_4);
  }

  & .order__table-row ul {
    padding: 10px 30px;
  }
  & .order__table-row ul > li {
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
  }
  & .order__table-row span {
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
    padding: 10px 30px;
    text-align: center;
  }

  & .small-padding span {
    padding: 10px;
  }
  & .order__table-row small {
    display: block;
    font-size: 12px;
    line-height: 1.58;
    letter-spacing: -0.24px;
    color: var(--col_gray_6);
  }
  & .order__table-row.td-center {
    justify-content: center;
  }
  & .order__info-area:has(.order__info-desc) {
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
    padding: 20px;
    background-color: var(--col_gray_2);
  }
  & .order__info-area:has(.order__coupon-wrap) {
    padding: 20px;
  }
  & .order__info-area.margin-top {
    margin-top: 20px;
  }
  & .order__info-area .desc-link {
    text-decoration: underline;
    margin-left: 8px;
  }
}

/* 주문·결제  */
.auctions-order-page {
  & .order-list-box {
    padding: 30px 20px;
  }
  & .order__input-group input {
    width: 100%;
  }

  & .order-title small {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.28px;
    color: var(--col_gray_6);
  }
  & .title-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  & .title-wrap small {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.28px;
    margin-left: 0;
    color: var(--col_gray_6);
  }
  & .order-title__left-cont {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 23px;
  }

  & .order-title__left-cont .basic-check-box__squire label {
    font-weight: 400;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.28px;
    color: var(--col_gray_5);
  }

  & .order__input-group .short-input input {
    width: 100%;
  }
  & .order__input-group .mid-input input {
    width: 100%;
  }

  & .order__input-group .search-address-button {
    flex: unset;
    width: 95px;
  }
  & .add-checkbox .basic-check-box__squire {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  & .order__input-number {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  & .order__input-number .basic-input {
    display: flex;
  }
  & .order__input-number input {
    flex: 1 1 90px;
  }
  & .order__input-group .clearance-number-button {
    width: 100%;
    height: 48px;
    font-size: 15px;
    margin-top: 15px;
  }
  & .clearance-desc > li {
    list-style-type: "※ ";
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: -0.28px;
    color: var(--col_gray_6);
  }
  & .order__coupon-wrap {
    margin-bottom: 8px;
  }
  & .order__coupon-wrap ~ .order__info-desc {
    padding-left: 25px;
  }
  & .order__coupon-wrap ~ .order__info-desc.order__list-style {
    padding-left: 40px;
  }
  & .order__info-desc.order__list-style > li {
    word-break: keep-all;
    letter-spacing: -0.02em;
  }
  & .order__info-desc.order__list-style > li + li {
    margin-top: 3px;
  }
  & .order__coupon-wrap label {
    font-size: 14px;
    letter-spacing: -0.28px;
    color: var(--col_black_2);
  }
  & .order__coupon-desc {
    display: inline-block;
    font-size: 13px;
    letter-spacing: -0.26px;
    padding-left: 25px;
    margin-top: 15px;
    color: var(--col_gray_6);
  }

  & .order__coupon-link {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.26px;
    color: var(--col_gray_5);
    text-decoration: underline;
    padding-left: 25px;
    margin-top: 14px;
  }

  & .ticket-group .order__info-desc {
    display: none;
  }

  & .order__coupon-wrap:has(.order__coupon-link.active) ~ .order__info-desc {
    display: block;
  }

  & .buy-ticket-button {
    width: 136px;
    height: 40px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 25px;
  }

  & .order__list-style {
    list-style-type: "- ";
    list-style-position: inside;
    text-indent: -0.7em;
    padding-left: 0.7em;
  }

  & .order__balance {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }
  & .order__balance-list p:first-child {
    color: var(--col_gray_6);
  }
  & .order__balance-list p + p {
    margin-top: 10px;
  }
  & .order__deposit-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  & .order__deposit-desc > li {
    list-style-type: "※ ";
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: -0.28px;
    color: var(--col_gray_6);
  }
  & .order__deposit-wrap .basic-input {
    flex: 1;
    min-width: 0;
  }
  & .order__deposit-wrap input {
    width: 100%;
    font-size: 15px;
    height: 48px;
    padding: 0 9px;
    text-align: right;
  }
  & .order__check-deposit {
    font-size: 14px;
    letter-spacing: -0.28px;
    color: var(--col_gray_5);
    text-decoration: underline;
  }
  & .payment-tabs {
    display: flex;
    gap: 10px;
  }
  & .payment-radio-tab input {
    display: none;
  }
  & .payment-radio-tab label {
    flex: 1;
    min-width: 0;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    padding: 11px 20px;
    border-radius: 4px;
    border: solid 1px var(--col_gray_4);
    background-color: #f5f5f5;
  }

  & .payment-radio-tab input:checked ~ label {
    font-weight: bold;
    color: var(--col_white);
    background-color: var(--mainBlue);
    border-color: transparent;
  }
  & .order__cash-receipt {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  & .payment-tab-contents__list {
    margin-top: 20px;
    display: none;
  }

  & .payment-tab-contents__list .order__input-group {
    display: flex;
    gap: 10px;
  }
  & .payment-tab-contents__list .basic-select-box {
    width: 210px;
    height: 48px;
    margin-top: 0;
  }
  & .payment-tab-contents__list .basic-select-box select {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
  & .payment-tab-contents__list input {
    width: 100%;
  }

  &
    .order__info-area:has(.order__cash-receipt > div:nth-child(1) input:checked)
    .payment-tab-contents
    > li:nth-child(1) {
    display: block;
  }
  &
    .order__info-area:has(.order__cash-receipt > div:nth-child(2) input:checked)
    .payment-tab-contents
    > li:nth-child(2) {
    display: block;
  }
  & .order__notice-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 16px;
  }
  & .order__notice-title {
    font-size: 14px;
    font-weight: 500;
    font-weight: 500;
    color: var(--col_black_1);
  }

  & .order__notice-utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
  }
  & .order__notice-utils .order__notice-title {
    width: 110px;
    font-weight: 400;
  }
  & .order__notice-utils .order__notice-utils-radio {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  & .notice__content {
    height: 130px;
    padding: 20px;
    border: none;
    border-radius: 0;
    background-color: var(--col_gray_2);
  }
  & .notice__content pre {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.69;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
  }

  /* @@@ */
  /* & input:read-only {
    background-color: var(--col_white) !important;
  } */

  & .order__deposit-desc {
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
    margin-top: 15px;
  }

  /* right */
  & .order-summary > ul {
    height: 420px;
    padding: 15px 20px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    overflow-y: auto;
  }
  & .order-summary__item + .order-summary__item {
    margin-top: 20px;
  }
  & .order-summary__container {
    display: flex;
    gap: 15px;
  }
  & .order-summary__details {
    flex: 1;
    min-width: 0;
  }
  & .order-summary__item .img-wrap {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 12px;
    border: solid 1px var(--col_gray_1);
    overflow: hidden;
  }
  & .item-platform {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    background-color: var(--col_white);
  }
  & .item-platform .img-wrap {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    overflow: hidden;
  }
  & .platform-name {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.24px;
    color: var(--col_gray_6);
  }
  & .item-name {
    height: 2lh;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: -0.36px;
    color: var(--col_black_1);
    margin-top: 12px;
  }
  & .item-code {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: -0.26px;
    color: var(--col_gray_6);
    margin-top: 11px;
  }
  & .order-info {
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    background-color: var(--col_gray_2);
    padding: 11px 20px 16px;
    margin-top: 20px;
  }
  & .order-info__row {
    display: flex;
    align-items: center;
  }
  & .order-info__row + .order-info__row {
    margin-top: 16px;
  }
  & .info-title {
    flex-shrink: 0;
    width: 115px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: var(--col_gray_6);
  }
  & .info-content {
    font-size: 14px;
    word-break: break-all;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
  }
  & .payment-summary {
    border-radius: 12px;
    border: solid 1px var(--col_gray_4);
    margin-top: 20px;
    overflow: hidden;
  }
  & .payment-summary__header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--mainBlue);
  }
  & .payment-summary__header p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.28;
    letter-spacing: -0.36px;
    color: var(--col_white);
  }
  & .refresh-button {
    font-size: 13px;
    letter-spacing: -0.26px;
    color: var(--col_white);
  }

  & .payment-summary__details ul {
    padding: 15px 20px 20px;
  }
  & .payment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .payment-item + .payment-item {
    margin-top: 16px;
  }
  & .payment-label {
    flex-shrink: 0;
    width: 188px;
    font-size: 14px;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
  }
  & .payment-value {
    font-size: 14px;
    letter-spacing: -0.28px;
    color: var(--col_black_1);
  }
  & .exchange-rate {
    position: relative;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.28px;
    color: var(--col_gray_6);
    padding: 12px 20px 16px;
  }
  & .exchange-rate:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--col_gray_4);
    content: "";
    transform: translateX(-50%);
  }
  & .exchange-rate b {
    font-weight: 400;
    color: var(--col_black_1);
  }
  & .exchange-rate b {
    font-weight: 500;
    color: var(--col_black_1);
  }
  & .exchange-rate strong {
    font-weight: 600;
  }
  & .payment-total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--col_gray_2);
    padding: 22px 20px;
  }
  & .payment-total-amount b {
    flex-shrink: 0;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.32px;
    text-align: left;
    color: var(--mainBlue);
  }
  & .payment-total-amount strong {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: -0.44px;
    color: var(--col_black_1);
  }
  & .order-utils {
    margin-top: 20px;
  }
  & .order-utils .basic-check-box__squire + .basic-check-box__squire {
    margin-top: 16px;
  }
  & .order-utils .basic-check-box__squire + .basic-check-box__squire label {
    line-height: 24px;
    align-items: flex-start;
  }
}

/* MODAL :: 배송지 선택 */
.modal-address {
  & .basic-table {
    margin-bottom: 30px;
  }

  & .basic-table__row.main-address span:nth-child(1)::before {
    content: "기본배송지";
    font-size: 13px;
    font-weight: normal;
    color: #999;
  }
  & .basic-table__row > div {
    flex-direction: column;
    min-height: 50px;
    gap: 2px;
  }

  & .basic-table span.td-left {
    justify-content: center;
    align-items: flex-start;
  }

  & .basic-table__header > div:nth-child(3),
  & .basic-table__row > div:nth-child(3) {
    flex: 0 0 350px;
  }
  & .basic-table__header > div:nth-child(4),
  & .basic-table__row > div:nth-child(4),
  & .basic-table__header > div:nth-child(5),
  & .basic-table__row > div:nth-child(5) {
    flex: 0 0 200px;
  }
  & .basic-table__header > div:nth-child(6),
  & .basic-table__row > div:nth-child(6) {
    flex: 0 0 85px;
  }

  & .basic-button__light-gray-line {
    width: 100%;
    font-size: 13px;
    height: 30px;
    font-weight: 500;
  }
  & .modal-bottom-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & .basic-button__black-line {
    width: 170px;
    height: 45px;
    border-radius: 23px;
    font-weight: bold;
    align-self: flex-end;
  }
  & .basic-pagination {
    justify-content: center;
  }
}

/* MODAL :: 보유쿠폰내역 */
.modal-coupon-list {
  & .basic-table {
    margin-bottom: 30px;
  }
  & .basic-table__header > div,
  & .basic-table__row > div {
    flex-shrink: 0;
  }
  & .basic-table__row > div {
    flex-direction: column;
    min-height: 50px;
    gap: 2px;
  }

  & .basic-table__header > div:nth-child(1),
  & .basic-table__row > div:nth-child(1) {
    flex: 0 0 150px;
  }
  & .basic-table__header > div:nth-child(2),
  & .basic-table__row > div:nth-child(2) {
    flex: 0 0 284px;
  }
  & .basic-table__header > div:nth-child(4),
  & .basic-table__row > div:nth-child(4) {
    flex: 0 0 200px;
  }
  & .basic-button__light-gray-line {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
  }
  & .modal-bottom-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & .basic-button__black-line {
    width: 170px;
    height: 45px;
    border-radius: 23px;
    font-weight: bold;
    align-self: flex-end;
  }
  & .basic-pagination {
    justify-content: center;
  }
}
