@charset "utf-8";

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-ExtraLight/.woff") format("woff");
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-Light.woff") format("woff");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("../fonts/pretendard/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-display: fallback;
}

/* 초기 셋팅 값 */
html,
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  color: #333;

  font: 400 14px/1 "Pretendard", "Malgun Gothic", "돋움", "Dotum", Arial, Sans-serif;
}
body.overflow-hidden {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

/* input,
select,
textarea,
button {
  font-family: "Pretendard", sans-serif;
  color: #fff;
}

input,
textarea {
  color: #444;
} */

input::placeholder,
textarea::placeholder {
  color: #898989;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
/* ::selection {
  background: #d4c951;
} */

/* 더블클릭시 선택 기능 막기*/
.unable {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/*  한줄처리 */
.p_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.p_2 {
  /* 두줄처리 */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.flex {
  display: flex;
}
.nowrap {
  /* 한줄처리 width 값 필요*/
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.mobile-only,
.tablet-only {
  display: none;
}

/* COMMON */
.inner-width {
  width: 1280px;
  margin: 0 auto;
}
.inner-width.flex {
  display: flex;
}
.img-wrap {
  position: relative;
}
.img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
/* SELECT BOX */
.basic-select-box {
  width: 100%;
}
.basic-select-box select {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #898989;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background: #fff url("../images/icon/arrow_select.svg") no-repeat 95% center / 17px 18px;
  padding: 0 10px;
}
.basic-select-box.gray select {
  background: #fff url("../images/icon/arrow_down_gray.svg") no-repeat 93% center / 20px 20px;
}
.basic-select-box option[value=""][disabled] {
  display: none;
}
.basic-select-box select:valid {
  color: #333;
}
/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  z-index: 20;
}
.modal__dim {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  border-radius: 12px;
  background: var(--white);
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transform: translate(-50%, -50%);
}
.modal__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #579ee5;
}
.modal__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.36px;
  text-align: center;
  color: #fff;
}
.modal__close-button {
  position: absolute;
  flex-shrink: 0;
  top: 50%;
  right: 24px;
  width: 24px;
  height: 24px;
  background: url("../images/icon/close_modal.svg") no-repeat center / contain;
  transform: translateY(-50%);
  z-index: 2;
}
.modal__close-button.white {
  background-image: url("../images/icon/close_modal_white.svg");
}
.modal__body {
  max-height: 90vh;
  overflow-y: auto;
}
.modal__body.default {
  padding: 60px 20px 40px;
  text-align: center;
}
.modal__content {
}
.modal__text {
}
.modal__text b {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -0.34px;
  color: #000;
}
.modal__small-text {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.28px;
  text-align: left;
  color: #707070;
  margin-top: 9px;
}

.modal__sub-text {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.28px;
  text-align: center;
  color: #707070;
  margin-top: 30px;
}
.modal-button-wrap {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.modal-button-wrap > *,
.modal-button-wrap > [class^="basic-button__"] {
  width: 170px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.28px;
  text-align: center;
  border-radius: 22.5px;
}

/* BUTTON */
[class^="basic-button__"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}
[class^="basic-button__"]:disabled {
  color: #707070;
  background-color: #f0f0f0;
  border: none;
}
.basic-button__blue {
  color: var(--white);
  background-color: var(--mainBlue);
}
.basic-button__blue-line {
  color: var(--mainBlue);
  background-color: var(--white);
  border: 1px solid var(--mainBlue);
}
.basic-button__blue-bg-line {
  color: var(--mainBlue);
  background-color: rgba(87, 158, 229, 0.1);
  border: 1px solid var(--mainBlue);
}
.basic-button__dark-gray {
  color: var(--white);
  background-color: #646464;
}
.basic-button__gray {
  color: var(--white);
  background-color: #707070;
}
.basic-button__gray-line {
  background-color: #fff;
  color: #707070;
  border: 1px solid #707070;
}
.basic-button__light-gray-line {
  background-color: #fff;
  border: 1px solid #dedede;
}
.basic-button__black {
  background-color: #000;
  color: #fff;
}
.basic-button__black-line {
  color: #000;
  background-color: #fff;
  font-weight: 400;
  border: solid 1px #000;
}
/* INPUT */
.basic-input {
  position: relative;
}
.basic-input input {
  border-radius: 4px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}

.basic-input input[type="date"] {
  font: inherit;
  font-size: 13px;
}
/* date 기본 placeholder 지우기 */
input[type="date"]:invalid::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:invalid::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:invalid::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:invalid::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
.basic-input input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
  z-index: 1;
}

.basic-input input[type="date"]::-webkit-clear-button,
.basic-input input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.basic-input:has(input[type="date"]):after {
  position: absolute;
  top: 50%;
  left: 85%;
  content: "";
  width: 14px;
  height: 15.5px;
  background: #fff url("../images/icon/calendar.svg") center center / contain;
  transform: translateY(-50%);
  z-index: 0;
}
input[type="date"]::before {
  position: absolute;
  top: 50%;
  left: 12px;
  content: attr(data-placeholder);
  width: 100%;
  font-size: 13px;
  letter-spacing: -0.26px;
  color: #707070;
  transform: translateY(-50%);
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
/* TEXTAREA */
.basic-textarea {
  font-size: 14px;
  line-height: 1.57;

  border-radius: 5px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 15px 12px;
}

/* TABS */
.tabs {
  display: flex;
  border: 1px solid #f0f0f0;
}
.tabs button {
  position: relative;
  flex: 1;
  font-weight: 700;
  color: #707070;
}
.tabs button + button {
  border-left: 1px solid #f0f0f0;
}
.tabs button.active {
  color: var(--mainBlue);
}

.tabs button.active:after {
  position: absolute;
  inset: 0;
  border: 2px solid var(--mainBlue);
  content: "";
  pointer-events: none;
}

.tabs-content {
}
.tabs-content > li {
}

/* Pagination */
.basic-pagination {
  display: flex;
  align-items: center;
}
.basic-pagination :is(.first-button, .prev-button, .next-button, .last-button) {
  width: 11px;
  height: 11px;
}
.basic-pagination :is(.prev-button, .next-button) {
  background: url("../images/icon/pagination_next.svg") no-repeat center / contain;
}
.basic-pagination :is(.first-button, .last-button) {
  background: url("../images/icon/pagination_last.svg") no-repeat center / contain;
}
.basic-pagination :is(.first-button, .prev-button) {
  transform: rotate(-180deg);
}
.basic-pagination__button-wrap {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0 7px;
}
.basic-pagination__button-wrap button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #898989;
}
.basic-pagination__button-wrap button:hover {
  font-weight: bold;
}
.basic-pagination__button-wrap .active {
  font-weight: bold;
  color: #fff;
  background-color: #579ee5;
}

/* BASIC CHECKBOX */
[class^=".basic-checkbox"] {
  display: none;
}
input[type="checkbox"] label,
input[type="radio"] label {
  display: flex;
  cursor: pointer;
}

.basic-checkbox__circle {
  width: 100%;
  height: 100%;
}

.basic-checkbox__circle label {
  align-items: center;
  gap: 16px;
}
.basic-checkbox__circle-icon {
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  background: url("../images/icon/unchecked_circle.svg") no-repeat center / contain;
}
.basic-checkbox__circle-text {
  font-size: 14px;
  font-weight: 700;
  color: #707070;
}

.basic-checkbox__circle input[type="checkbox"]:checked ~ label .basic-checkbox__circle-text {
  color: #000;
}
.basic-checkbox__circle input[type="checkbox"]:checked ~ label .basic-checkbox__circle-icon {
  background-image: url("../images/icon/checked_circle.svg");
}

.tab-check-button {
}
.tab-check-button input {
  display: none;
}
.tab-check-button label {
  display: inline-block;
  font-size: 15px;
  letter-spacing: -0.15px;
  color: #000;
  padding: 11px 16px;
  border-radius: 8px;
  border: solid 1px #dedede;
  background-color: #fff;
}
/* .tab-check-button label::after {
  content: attr(title);
  display: block;
  font-weight: bold;
  height: 0px;
  visibility: hidden;
} */

.tab-check-button input:checked ~ label {
  font-weight: bold;
  color: #579ee5;
  background-color: rgba(87, 158, 229, 0.1);
  border-color: transparent;
}
.tab-check-button.mint input:checked ~ label {
  font-weight: bold;
  color: #82c2bd;
  background-color: rgba(130, 194, 189, 0.1);
  border-color: transparent;
}

.basic-check-box__squire label {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #000;
}
.basic-check-box__squire input {
  display: none;
}
.basic-check-box__squire-icon {
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  background: url("../images/icon/unchecked_squire.svg") no-repeat center / contain;
}
.basic-check-box__squire input[type="checkbox"]:checked ~ label .basic-check-box__squire-icon {
  background-image: url("../images/icon/checked_squire.svg");
}
.basic-check-box__squire.gray label {
  gap: 6px;
  font-size: 13px;
  letter-spacing: normal;
  color: #707070;
}
.basic-check-box__squire.gray .basic-check-box__squire-icon {
  width: 20px;
  height: 20px;
  background: url("../images/icon/unchecked_squire_gray.svg") no-repeat center / contain;
}
.basic-check-box__squire.gray input[type="checkbox"]:checked ~ label {
  color: #000;
}

.radio-check-button label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #666666;
}
.radio-check-button input {
  display: none;
}
.radio-check-button-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background: url("../images/icon/radio_unchecked_circle.svg") no-repeat center / contain;
}

.radio-check-button input[type="radio"]:checked ~ label .radio-check-button-icon {
  background-image: url("../images/icon/radio_checked_circle.svg");
}
/* 번역 등록 버튼 */
.translation-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  color: #666;
  padding: 12px 18px;
  border-radius: 4px;
  border: solid 1px #dedede;
  background-color: #fff;
}
.translation-button:after {
  content: "";
  flex-shrink: 0;
  width: 15.2px;
  height: 15.2px;
  background: url("../images/icon/translation.svg") no-repeat center / contain;
}
/* 관심키워드 등록 버튼 */
/* .like-keyword-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  color: #666;
  padding: 12px 18px;
  border-radius: 4px;
  border: solid 1px #dedede;
  background-color: #fff;
}
.like-keyword-button:after {
  content: "";
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  background: url("../images/icon/star_gray_empty.svg") no-repeat center / contain;
}
.like-keyword-button.active:after {
  background-image: url("../images/icon/star_blue.svg");
} */
.like-keyword-button {
  align-items: center;
  padding: 12px 18px;
  border-radius: 4px;
  border: solid 1px #dedede;
  background-color: #fff;
}

.like-keyword-button input {
  display: none;
}

.like-keyword-button label {
  position: relative;
  display: flex;
  gap: 11px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  color: #666;
}
.like-keyword-button label:after {
  content: "";
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  background: url("../images/icon/star_gray_empty.svg") no-repeat center / contain;
}

.like-keyword-button input[type="checkbox"]:checked ~ label:after {
  background-image: url("../images/icon/star_blue.svg");
}

/* 검색결과 공윺 버튼 */
.share-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  color: #666;
  padding: 12px 18px;
  border-radius: 4px;
  border: solid 1px #dedede;
  background-color: #fff;
}
.share-button:after {
  content: "";
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  background: url("../images/icon/share.svg") no-repeat center / contain;
}

/* ITEM LIST */
.item-list {
}
.item-box {
  position: relative;
  border: 1px solid #dedede;
  border-radius: 12px;
  overflow: hidden;
}
.item-box:hover {
  border: solid 1px #579ee5;
}
.item-box.favorite-item:after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
  content: "";
  border-radius: 50%;
  border: 1px solid #d0d0d0;
  background: #fff url("../images/icon/star_blue.svg") no-repeat center / 12px 11px;
  pointer-events: none;
}
.item__img {
  position: relative;
  display: grid;
  place-content: center;
  height: 190px;
  max-width: 100%;
  overflow: hidden;
}

.item__info {
  padding: 12px 17px 22px;
}
.item__market {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 10px;
}
.item__market.line {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 4px 8px;
}
.item-box__inner {
  padding: 12px 10px;
}
.item__country {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  /* width: 22px;
  height: 22px; */
  border-radius: 50%;
  overflow: hidden;
}
.item__market p {
  color: #707070;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.item__name {
  font-size: 14px;
  height: 2lh;
  letter-spacing: -0.28px;
  line-height: 1.6;
  color: #000;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.item__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
}
.item__price p {
  /* flex: 0; */
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.item__discount-price {
  display: flex;
  align-items: center;
  gap: 3px;
}
.item__total-price {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.26px;
  color: #707070;
}
.item__discount-percent {
  font-size: 13px;
  letter-spacing: -0.26px;
  color: #707070;
}
.item-tags {
  display: flex;
  gap: 5px;
  margin-top: 24px;
  height: 22px;
}
.item-tags span {
  max-width: calc(100% / 3 - (5px / 3));
  height: 100%;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
  color: var(--mainBlue);
  border-radius: 3px;
  background-color: rgba(87, 158, 229, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 5px;
}
.item__bottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.item__bottom p {
  color: #707070;
  font-size: 14px;
  letter-spacing: -0.28px;
}
.item-button-wrap {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
.item-button-wrap :is(a, button) {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: grid;
  place-content: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.24px;
}
.item-button__cart {
  /* @@@@ */
  background: var(--mainBlue) url("../images/icon/cart_white.svg") no-repeat center / 20px 19px;
}
.item-button__bid {
}
.item-button__buy {
}
.item-button__check {
  background: #646464 url("../images/icon/item_check.svg") no-repeat center / 16px 22px;
}
.num-badge {
  position: absolute;
  display: grid;
  place-content: center;
  top: -8px;
  right: -6px;
  min-width: 16px;
  height: 16px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: var(--black);
  color: #fff;
  font-size: 10px;
  letter-spacing: -0.2px;
}

.like-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  font-size: 11px;
  letter-spacing: -0.11px;
  padding: 1px 8px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.4);
}
.like-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.like-button__icon {
  flex-shrink: 0;
  width: 17px;
  height: 16px;
  background: url("../images/icon/like_off.svg") no-repeat center / contain;
}
.like-button.active .like-button__icon {
  background-image: url("../images/icon/like.svg");
  animation: animateHeart 0.3s linear forwards;
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* ITEM LIST [SIMPLE] */

.item-list {
}

.item-box.simple .item__img {
  height: 117px;
}
.item-box.simple .item__info {
  padding: 10px 15px 13px;
}
.item-box.simple .item__market {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 7px;
}
.item-box.simple .item__country {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.item-box.simple .item__market p {
  letter-spacing: -0.22px;
  font-size: 11px;
}
.item-box.simple .item__name {
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 1.5;
}
.item-box.simple .item__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.item-box.simple .item__price p {
  font-size: 15px;
  letter-spacing: -0.3px;
}
.item-box.simple .item__discount-price {
  gap: 3px;
}
.item-box.simple .item__total-price {
  font-size: 10px;
  letter-spacing: -0.2px;
}
.item-box.simple .item__discount-percent {
  font-size: 10px;
  letter-spacing: -0.2px;
}
.item-box.simple.small .item__market.line {
  padding: 3px 7px;
}
.item-box.simple.small .item__country {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.item-box.simple.small .item__market {
  gap: 4px;
  margin-bottom: 9px;
}
/* ITEM LIST [LIST]  - width 값이 작음 */
.item-box.list .item__info {
  padding: 16px 12px;
}
.item-box.list .item__market {
  gap: 7px;
}
.item-box.list .item__market.line {
  padding: 5px;
}
.item-box.list .item-box__inner {
  padding: 12px 10px;
}
.item-box.list .item__country {
  width: 17px;
  height: 17px;
}

.item-box.list .item__price p {
  font-size: 16px;
  letter-spacing: -0.32px;
}
.item-box.list .item__total-price {
  font-size: 11px;
}
.item-box.list .item__discount-percent {
  font-size: 11px;
}
.item-box.list .item-tags {
  display: flex;
  gap: 5px;
  margin-top: 24px;
  height: 22px;
}
.item-box.list .item-tags span {
  font-size: 10px;
  padding: 0 5px;
  display: grid;
  place-content: center;
}
.item-box.list .item__bottom {
  margin-top: 21px;
}
.item-box.list .item__bottom p {
  font-size: 11px;
  letter-spacing: -0.28px;
}
.item-box.list .item-button-wrap {
  gap: 8px;
}

.item-box.list .num-badge {
  top: -6px;
  right: -5px;
  min-width: 14px;
  height: 14px;
  font-size: 8px;
}

/* HEADER */
#header {
  /* position: sticky;
  top: 0;
  left: 0; */
  width: 100%;
  background-color: var(--white);
  z-index: 15;
  width: 100%;
}

#header.header-sticky {
  position: sticky;
  top: 0;
  left: 0;
  animation: scrollDown 0.3s;
}
@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.header__simple {
  align-items: center;
  padding: 32px 0;
  background-color: var(--white);
}
.header__simple.inner-width {
  position: relative;
}
.header__logo {
  flex-shrink: 0;
  width: 129px;
  height: 37px;
  margin-right: 38px;
  background: url("../images/icon/logo.svg") no-repeat center / contain;
}
/* 검색 */
.search-box {
  position: relative;
  border-radius: 29px;
  background-color: var(--white);
}
.search-box:after {
  position: absolute;
  inset: 0;
  content: "";
  pointer-events: none;
  border-radius: 29px;
  border: 2px solid var(--mainMint);
}
.search-input {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 436px;
  height: 57px;
  padding: 0 24px 0 34px;
}
.search-input input {
  flex: 1;
  padding: 13px 0;
  font-size: 16px;
  letter-spacing: -0.16px;
}
.search-input__icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background: url("../images/icon/search.svg") no-repeat center / contain;
  transition: all 0.2s;
}

.search-box__info {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #dedede;
  border-top: none;
  border-radius: 0 0 29px 29px;
  padding-bottom: 25px;
  z-index: 5;
}
/* input Focus 시 스타일 변경 */
.search-box:has(input:focus) {
  display: block;
  border-radius: 29px 29px 0 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.search-box:has(input:focus):after {
  border-radius: 29px 29px 0 0;
  border: 1px solid #dedede;
  border-bottom: none;
}
.search-box:has(input:focus) .search-input__icon {
  background-size: 24px 24px;
}

.search-box:has(input:focus) .search-box__info {
  display: block;
}
.search-box__info-list {
  position: relative;
  padding: 20px;
}
.search-box__info-list:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  height: 1px;
  content: "";
  background-color: #f0f0f0;
  transform: translateX(-50%);
}
.search-box__info-list:has(.search-banner) {
  padding: 20px 15px 0;
}
.search-box__info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}
.recent-searches__list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 20px;
}
.recent-searches__all-delete {
  color: #898989;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.recent-searches__all-delete:after {
  flex-shrink: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icon/close_gray.svg") no-repeat center / contain;
}
.recent-searches__list > li {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 0 15px 0 16px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
}
.recent-searches__text {
  font-size: 14px;
  font-weight: 500;
  padding: 7px 0;
}
.recent-searches__delete {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  background: url("../images/icon/close_black.svg") no-repeat center / contain;
}
.recommended-search__list {
  margin-top: 16px;
  counter-reset: list-number;
}
.recommended-search__list > li {
  display: flex;
  align-items: center;
  gap: 5px;
  counter-increment: list-number;
}

.recommended-search__list > li:before {
  content: counter(list-number);
  font-size: 15px;
  color: #666666;
  margin-right: 5px;
}

.recommended-search__text {
  font-size: 15px;
  line-height: 1.85;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search-banner__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 407px;
  height: 55px;
  background-color: rgba(130, 194, 189, 0.05);
  padding: 20px 20px 20px 16px;
  border-radius: 8px;
}
.search-banner__text:after {
  flex-shrink: 0;
  content: "";
  width: 17px;
  height: 17px;
  background: url("../images/icon/arrow.svg") no-repeat center / contain;
}
.search-banner__text span {
  font-size: 14px;
  font-weight: 700;
  color: #707070;
  flex: 1;
}

.header__utils {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: auto;
}
.header__util {
  position: relative;
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.util-user {
  background-image: url("../images/icon/utils_user.svg");
}
.util-notify {
  background-image: url("../images/icon/utils_notify.svg");
}
.util-notify:after {
  position: absolute;
  top: 7px;
  right: 6.5px;
  width: 7px;
  height: 7px;
  content: "";
  background-color: var(--mainMint);
  border-radius: 50%;
  pointer-events: none;
}
.util-cart {
  background-image: url("../images/icon/utils_cart.svg");
}
.util-card-num {
  position: absolute;
  top: 8px;
  right: 2px;
  min-width: 16px;
  max-width: 32px;
  height: 16px;
  display: grid;
  place-content: center;
  border-radius: 8px;
  padding: 0 5px;
  background-color: var(--mainMint);
  pointer-events: none;
}
.util-card-num b {
  font-size: 10px;
  font-weight: 700;
  color: var(--white);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* GNB */
.header__gnb {
  position: relative;
  height: 80px;
  background-color: var(--mainMint);
}
.header__gnb .inner-width {
  height: 100%;
}
.header__gnb-left {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.category-button {
  flex-shrink: 0;
  width: 32px;
  height: 23px;
  background: url("../images/icon/menu.svg") no-repeat center/ contain;
}
.header__gnb-menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.sticky-header__gnb-menu-button {
  display: none;
}
.header__gnb-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__gnb-menu {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 12px;
}
.header__gnb-menu > li {
  height: 100%;
}
.header__gnb-menu > li:hover .dropdown-menu-box {
  display: block;
}

.header__gnb-text {
  display: grid;
  place-content: center;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  padding: 0 22px;
  cursor: pointer;
}
.header__gnb-text:hover {
  font-weight: 800;
}
.header__gnb-utils {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}
.header__gnb-utils a {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

/* STICKY HEADER */
#header.header-sticky {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--mainMint);
  animation: scrollDown 0.3s;
}
@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
#header.header-sticky .header__simple {
  background-color: transparent;
  padding: 0;
}

#header.header-sticky .header__logo {
  display: none;
}
/* 검색 */
#header.header-sticky .search-box {
  position: absolute;
  top: 15px;
  left: 318px;

  z-index: 2;

  background-color: var(--mainMint);
}
#header.header-sticky .search-input {
  height: 50px;
}
#header.header-sticky .search-input input::placeholder {
  color: var(--white);
}
#header.header-sticky .search-box:after {
  border-color: var(--white);
}
#header.header-sticky .search-input__icon {
  background-image: url("../images/icon/search_white.svg");
}
/* input Focus 시 스타일 변경 */
#header.header-sticky .search-box:has(input:focus) {
  background-color: var(--white);
}
#header.header-sticky .search-box:has(input:focus) .search-input__icon {
  background-image: url("../images/icon/search.svg");
}
#header.header-sticky .search-input:has(input:focus) input::placeholder {
  color: #707070;
}
#header.header-sticky .header__utils {
  position: absolute;
  top: 15px;
  right: 0;
  margin-left: 0;
  z-index: 2;
}

#header.header-sticky .util-user {
  background-image: url("../images/icon/utils_user_white.svg");
}
#header.header-sticky .util-notify {
  background-image: url("../images/icon/utils_notify_white.svg");
}
#header.header-sticky .util-notify:after {
  background-color: var(--white);
}
#header.header-sticky .util-cart {
  background-image: url("../images/icon/utils_cart_white.svg");
}
#header.header-sticky .util-card-num {
  background-color: var(--white);
}
#header.header-sticky .util-card-num b {
  color: var(--mainMint);
}

/* GNB */
#header.header-sticky .header__gnb {
  height: 80px;
  background-color: var(--mainMint);
}
#header.header-sticky .header__gnb .inner-width {
  height: 100%;
}
#header.header-sticky .header__gnb-left {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.category-button {
  flex-shrink: 0;
  width: 32px;
  height: 23px;
  background: url("../images/icon/menu.svg") no-repeat center/ contain;
}
#header.header-sticky .header__gnb-menu-wrap {
  position: relative;
  margin-left: 30px;
}
#header.header-sticky .sticky-header__gnb-menu-button {
  position: relative;
  display: block;
  width: 237px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #707070;
  padding: 0 30px;
  border-radius: 25px;
  background-color: #fff;
}
#header.header-sticky .sticky-header__gnb-menu-button:after {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../images/icon/arrow_select.svg") no-repeat center / contain;
  transform: translateY(-50%);
}
#header.header-sticky .sticky-header__gnb-menu-button.active {
  align-self: flex-end;
  height: 64px;
  border-radius: 29px 29px 0 0;
  border: solid 2px #dedede;
  border-bottom: none;
}
#header.header-sticky .sticky-header__gnb-menu-button.active ~ .header__gnb-inner {
  display: block;
}
#header.header-sticky .sticky-header__gnb-menu-button.active:after {
  transform: translateY(-50%) rotate(-180deg);
}

#header.header-sticky .header__gnb-inner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 237px;
  height: fit-content;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 0 0 29px 29px;
  border: solid 2px #dedede;
  border-top: none;
  background-color: #fff;
}

#header.header-sticky .header__gnb-menu {
  position: relative;
  width: 100%;
  flex-direction: column;
  margin-left: 0;
  padding-bottom: 17px;
  margin-bottom: 14px;
}

#header.header-sticky .header__gnb-inner:after,
#header.header-sticky .header__gnb-menu:before {
  position: absolute;
  left: 50%;
  content: "";
  width: 197px;
  height: 1px;
  background-color: #dedede;
  transform: translateX(-50%);
}
#header.header-sticky .header__gnb-inner:after {
  top: 0;
}
#header.header-sticky .header__gnb-menu::before {
  bottom: 0;
}

#header.header-sticky .header__gnb-menu > li {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

#header.header-sticky .header__gnb-text {
  font-size: 16px;
  place-content: flex-start;
  font-weight: 400;
  line-height: 2;
  color: #000;
  height: 100%;
  padding: 0;
}

#header.header-sticky .header__gnb-utils {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 20px;
  gap: 0;
  margin-left: 0;
}
#header.header-sticky .header__gnb-utils > li {
  width: 100%;
}
#header.header-sticky .header__gnb-utils a {
  font-size: 14px;

  font-weight: normal;
  line-height: 1.86;
  color: #707070;
}
/* STICKY HEADER :: GNB DROPDOWN MENU */
#header.header-sticky .dropdown-menu-box {
  position: fixed;
  top: 80px;
  z-index: -1;
}
#header.header-sticky .dropdown-menu__depth_one {
  display: none;
}
#header.header-sticky .dropdown-menu__depth_two {
  margin-left: 301px;
}
/* GNB DROPDOWN MENU */
.dropdown-menu-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 12px 12px;
  z-index: 5;
}
.dropdown-menu {
}

[class^="dropdown-menu__depth"] {
  display: flex;
  flex-shrink: 0;
  border-right: 1px solid #dedede;
}
.dropdown-menu__depth_one {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 240px;
  padding: 40px 0 25px;
}
.dropdown-menu__depth_one p {
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 1.57;
}
.dropdown-menu__depth_one p:has(b) {
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 11px;
}
.dropdown-menu__depth_one b {
  font-size: 18px;
  font-weight: bold;
}
.dropdown-menu__img {
  flex-shrink: 0;
  width: 102px;
  height: 101px;
  margin-top: 40px;
  overflow: hidden;
}
.dropdown-menu__depth_two {
  width: 230px;
  padding: 12px 0 28px;
}
.dropdown-menu__depth_three {
  width: 230px;
  padding: 12px 0 28px;
}
.dropdown-menu__list {
  width: 100%;
}
/* .dropdown-menu__list li {
  width: 100%;
} */
.dropdown-menu__list :is(a, button, button.active) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  line-height: 1.1;
  padding: 8px 10px 8px 30px;
}
.dropdown-menu__list :is(a, button):hover:after {
  flex-shrink: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icon/arrow_blue.svg") no-repeat center / contain;
}
.dropdown-menu__list :is(a, button):hover {
  font-weight: bold;
  color: var(--mainBlue);
}
.dropdown-menu__list button.active {
  font-weight: bold;
  color: var(--mainBlue);
}
.dropdown-menu__list button.active:after {
  flex-shrink: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icon/arrow_blue.svg") no-repeat center / contain;
}

.dropdown-menu__items {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px 0 20px 47px;
}

.dropdown-menu__items .item-box {
  flex-shrink: 0;
  /* width: calc(50% - 15px); */
  width: 224px;
}
/* 알림 */
.modal-notify {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #f0f0f0;
  border-radius: 12px 0px 0px 12px;
  overflow: hidden;
  z-index: 5;
}

.modal-notify .modal-notify__title {
  font-size: 16px;
  font-weight: bold;
  padding: 28px 0 22px;
  text-align: center;
}

.modal-notify .modal__close-button {
  top: 25px;
  right: 25px;
  transform: none;
}

.notify__tabs {
  width: 375px;
  margin: 0 auto 30px;
}
.notify__tabs button {
  padding: 15px 0;
}

.notify-list {
  border-top: 1px solid #333;
  max-height: 580px;
  overflow-y: auto;
}
.notify-list > li {
  border-bottom: 1px solid #f0f0f0;
}
.notify-box {
  background-color: #fff;
}
.notify-box.active {
  background-color: rgba(87, 158, 229, 0.1);
}
.notify-box > a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 25px;
}
.notify-box-left {
  display: flex;
  flex: 1;
  gap: 14px;
}
.country-box {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.notify__info {
  flex-shrink: 0;
  width: 307px;
}
.notify__title {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #898989;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 6px;
}
.notify__title b {
  color: #bbbbbb;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}
.notify__desc {
  flex-shrink: 0;

  font-size: 14px;
  line-height: 1.4;
  color: #000;
}

/* 카테고리 */
.modal-category {
}
.modal-category .modal__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100vh;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #dedede;
  border-radius: 0px 12px 12px 0px;
  background-color: #fff;
  transform: none;
}
.modal-category .modal__close-button {
  top: 15px;
  right: 15px;
  transform: none;
}
.category__tab-container {
  height: 100%;
  padding: 58px 18px 30px;
}

.category__tabs {
  height: 45px;
}
/* .category__tabs-content {
  height: calc(100vh - 103px);
  overflow-y: auto;
  margin-top: 30px;
} */
.tabs-content__category {
  height: calc(100vh - 103px);
  overflow-y: auto;
  margin-top: 20px;
}
.tabs-content__custom-shopping,
.tabs-content__guide {
  height: calc(100vh - 103px);
  overflow-y: auto;
  margin-top: 30px;
}
/* 카테고리 - 카테고리 */
.tabs-content__category {
}
.category__list {
}
.category__list-inner {
  position: relative;
}
:is(.category__accordion-button, .category__selected-text) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 7px;
  padding: 10px 5px;
}
:is(.category__accordion-button, .category__sub-button):after {
  display: inline-block;
  flex-shrink: 0;
  width: 17px;
  height: 18px;
  content: "";
  background: url("../images/icon/arrow_down_black.svg") no-repeat center / contain;
  margin-left: auto;
}
.category__accordion-button.active {
  margin-bottom: 10px;
}
.category__selected-text:has(.category__sub-button.active) {
  margin-bottom: 10px;
}
:is(.category__accordion-button, .category__sub-button).active:after {
  transform: rotate(-180deg);
}
:is(.category__accordion-button, .category__sub-button) .img-wrap {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}
:is(.category__accordion-button, .category__sub-button) p {
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #000000;
}
.category__sub-button {
  display: flex;
  align-items: center;
  width: 100%;
}
.category__sub-button p {
  display: flex;
  align-items: center;
  gap: 6px;
  text-align: left;
}
.category__sub-button.star p::after {
  flex-shrink: 0;
  content: "";
  width: 15px;
  height: 14px;
  background: url("../images/icon/star_orange.svg") no-repeat center / contain;
}

.category__sub-list {
  padding-left: 30px;
}
.category__sub-list :is(a, button) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6px;
  font-size: 15px;
  letter-spacing: -0.02em;
  padding: 11px;
}
.category__sub-list :is(a, button)::before {
  content: "·";
  font-size: 15px;
  letter-spacing: -0.02em;
  color: #898989;
}

.category__sub-list :is(a, button).star::after {
  flex-shrink: 0;
  content: "";
  width: 15px;
  height: 14px;
  background: url("../images/icon/star_orange.svg") no-repeat center / contain;
}
.category__sub-list :is(a, button):hover {
  color: var(--mainBlue);
}

.category__back-button {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url("../images/icon/arrow.svg") no-repeat center / 17px 17px;
  transform: scaleX(-1);
  margin-right: 7px;
}
.category__one-depth .category__sub-list,
.category__two-depth,
.category__three-depth {
  display: none;
}
.category__two-depth .category__sub-list,
.category__three-depth .category__sub-list {
  display: none;
}
.category__one-depth:has(.category__accordion-button.active) .category__sub-list,
.category__two-depth:has(.category__sub-button.active) .category__sub-list,
.category__three-depth:has(.category__sub-button.active) .category__sub-list {
  display: block;
}

.category__selected-text {
  display: flex;
  align-items: center;
}

.category__items {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

/* 카테고리 - 맞춤쇼핑 */

.in-progress__title {
  font-size: 16px;
  font-weight: 400;
  /* padding: 15px 0 8px; */
  padding-bottom: 8px;
  border-bottom: 1px solid #dedede;
}
.in-progress__title:has(a) {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 17px;
}
.in-progress__title b {
  font-weight: 700;
}
.in-progress__title span {
  margin-left: 2px;
}
.in-progress__title a {
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  margin-left: auto;
}
.in-progress__button {
  display: grid;
  place-content: center;
  width: 100%;
  height: 55px;
  font-size: 18px;
  border-radius: 27.5px;
}
.offline.in-progress {
  padding-bottom: 24px;
  border-bottom: 1px solid #dedede;
}
.offline.in-progress .in-progress__desc {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  padding: 10px 0 23px;
}
.login.in-progress .in-progress__desc {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.02em;
  color: #707070;
  padding: 40px 0 30px;
}
.login.in-progress .basic-button__blue {
  margin-bottom: 50px;
}
.custom-shopping {
  padding: 24px 0 35px;
}
.custom-shopping .in-progress__title {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 15px;
  border: none;
}
.custom-shopping .in-progress__title::before {
  flex-shrink: 0;
  content: "";
  width: 33px;
  height: 33px;
  background: url("../images/icon/custom_shopping.svg") no-repeat center / contain;
}
.custom-shopping__box {
}
.custom-shopping__list {
  max-height: 50vh;
  overflow-y: scroll;
}
.custom-shopping__list li {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 6px 17px 6px 10px;
  background: #f7fafe;
  overflow: hidden;
}
.custom-shopping__list li:after {
  position: absolute;
  inset: 0;
  content: "";
  pointer-events: none;
  border-radius: 4px;
  border: 1.5px solid var(--mainBlue);
  transition: all 0.3s;
  opacity: 0;
}
.custom-shopping__list li:hover:after {
}
.custom-shopping__list li.active {
}
.custom-shopping__list li.active:after {
  opacity: 1;
}
.custom-shopping__list li + li {
  margin-top: 9px;
}

.custom-shopping__drag-button {
  display: flex;
  width: 33px;
  height: 33px;
  background: url("../images/icon/drag_button.svg") no-repeat center / contain;
  margin-left: auto;
}
.custom-shopping__button-wrap {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-top: 17px;
}
.custom-shopping__button-wrap button {
  flex: 1;
  height: 45px;
  font-size: 14px;
  letter-spacing: -0.02em;
  border-radius: 24px;
}
.custom-shopping__button-wrap .basic-button__gray-line {
  font-weight: 400;
}
/* 맞춤쇼핑 - 로그인 후 */
.in-progress-items-swiper {
  padding: 20px 0 30px;
}
/* .in-progress__items {
  display: flex;
  gap: 14px;
  padding: 20px 0 30px;
} */

.custom-shopping__tab-wrap {
}
.custom-shopping__tabs {
  height: 45px;
}
.custom-shopping__tabs-content {
  padding: 16px 0 30px;
}

.like-item-swiper {
  height: 300px;
}
.like-item-swiper .swiper-slide {
  height: calc((100% - 20px) / 3) !important;
}
/* .like-item__list .item-list-box + .item-list-box {
  margin-top: 10px;
} */
.item-list-box a {
  display: flex;
  align-items: center;
  gap: 14px;
}
.item-list-box__img {
  flex-shrink: 0;
  width: 92px;
  height: 96px;
  border-radius: 5px;
  border: solid 1px #dedede;
  overflow: hidden;
}
.item-list-box__desc {
  flex: 1;
}
.item-list-box__market {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 3px;
  color: #898989;
  margin-bottom: 7px;
}
.item-list-box__market span {
  color: #bbb;
}

.item-list-box__name {
  font-size: 13px;
  margin-bottom: 3px;
  line-height: 1.54;
}
.item-list-box__price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item-list-box__price b {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 700;
}
.item-list-box__num {
  font-size: 12px;
  letter-spacing: -0.24px;
  color: #579ee5;
}
.item-list-box__end-item {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.24px;
  line-height: 1.75;
  color: #707070;
  margin-top: 3px;
}
.recent-item-swiper {
  display: flex;
  flex-wrap: wrap;
  height: 214px;
  /* gap: 8px 6px; */
  margin-bottom: 18px;
}
.recent-item-swiper .item-list-box {
  width: calc(100% / 3 - (16px / 2));
  height: calc((100% - 8px) / 2) !important;
}
.recent-item-swiper .img-wrap {
  width: 100%;
  height: 107px;
  border-radius: 5px;
  border: solid 1px #dedede;
}

.custom-shopping__board-wrap {
  /* display: none; */
}
.custom-shopping__board + .custom-shopping__board {
  margin-top: 32px;
}
.custom-shopping__board-wrap .in-progress__title::before {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  content: "";
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.custom-shopping__board-wrap > li:nth-child(1) .in-progress__title::before {
  background: url("../images/icon/category_board_01.svg");
}
.custom-shopping__board-wrap > li:nth-child(2) .in-progress__title::before {
  background-image: url("../images/icon/category_board_02.svg");
}
.custom-shopping__board-wrap > li:nth-child(3) .in-progress__title::before {
  background-image: url("../images/icon/category_board_03.svg");
}
.custom-shopping__board-title {
}
/* .custom-shopping__board-title {
  display: flex;
}
.custom-shopping__board-title h4 {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.32px;
  text-align: left;
  color: #000;
} */
.custom-shopping__board-title span {
  font-weight: 400;
}
.custom-shopping__board-title a {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.79;
  color: #707070;
}

.custom-shopping__board-list a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 0;
}
.custom-shopping__board-list a::before {
  content: "·";
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  color: #898989;
}
.custom-shopping__board-list a:after {
  flex-shrink: 0;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/icon/arrow_right_gray.svg") no-repeat center / contain;
  margin-left: auto;
}
.custom-shopping__board-name {
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #333;
}
.custom-shopping__board-time {
  flex-shrink: 0;
  width: 48px;
  padding-right: 3px;
  font-size: 13px;
  color: #898989;
}

.custom-shopping__board-empty-text {
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #333;
  padding: 2px 0 8px;
}
.board__button-wrap {
}
.board__button-wrap button {
  width: 155px;
  height: 45px;
  font-size: 14px;
  letter-spacing: -0.28px;
  border-radius: 22.5px;
  margin: 40px auto 0;
}
/* 카테고리 - 이용가이드 */
.tabs-content__guide {
}
.guide__banner {
  display: flex;
  gap: 16px;
}
.guide__banner > a {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}
.guide-content {
  margin-top: 37px;
}
.guide-content__list {
}
.guide-content__list > li + li {
  margin-top: 30px;
}
.guide-content__title {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.32px;
}
.guide-content__list > li .guide-content__title::before {
  flex-shrink: 0;
  content: "";
  width: 21px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}
.guide-content__list > li .guide-content__title::before {
  flex-shrink: 0;
  content: "";
  width: 21px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

.guide-content__accordion-button {
}
.guide-content__accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 7px;
  padding: 0 2px;
}

.guide-content__list > li:nth-child(1) .guide-content__title:before {
  background-image: url("../images/icon/guide_01.svg");
}
.guide-content__list > li:nth-child(2) .guide-content__title:before {
  background-image: url("../images/icon/guide_02.svg");
}
.guide-content__list > li:nth-child(3) .guide-content__title:before {
  background-image: url("../images/icon/guide_03.svg");
}
.guide-content__list > li:nth-child(4) .guide-content__title:before {
  background-image: url("../images/icon/guide_04.svg");
}
.guide-content__list > li:nth-child(5) .guide-content__title:before {
  background-image: url("../images/icon/guide_05.svg");
}
.guide-content__list > li:nth-child(6) .guide-content__title:before {
  background-image: url("../images/icon/guide_06.svg");
}
.guide-content__list > li:nth-child(7) .guide-content__title:before {
  background-image: url("../images/icon/guide_07.svg");
}
.guide-content__list > li:nth-child(8) .guide-content__title:before {
  background-image: url("../images/icon/guide_08.svg");
}
.guide-content__list a {
}

.guide-content__title:after {
  flex-shrink: 0;
  width: 17px;
  height: 18px;
  content: "";
  background: url("../images/icon/arrow_down_black.svg") no-repeat center / contain;
  margin-left: auto;
}
.guide-content__title b {
  color: #579ee5;
  margin: 0 3px;
}
a.guide-content__accordion-button .guide-content__title:after {
  transform: rotate(-90deg);
}
.guide-content__accordion-button.active {
  margin-bottom: 20px;
}
.guide-content__accordion-button.active .guide-content__title:after {
  transform: rotate(-180deg);
}
.guide-content__sub-list {
  display: none;
}
.guide-content__list > li:has(.guide-content__accordion-button.active) .guide-content__sub-list {
  display: block;
}

.guide-content__sub-list {
}
.guide-content__sub-list > li + li {
  margin-top: 14px;
}
.guide-content__sub-list a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.guide-content__sub-list a::before {
  content: "·";
  font-size: 15px;
  letter-spacing: -0.02em;
  color: #898989;
}
.guide-content__sub-list a:after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../images/icon/arrow_right_gray.svg") no-repeat center / contain;
  margin-left: auto;
}
/* FOOTER */
#footer {
  background-color: #383838;
}
.footer__top {
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e814;
}
.foot_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.foot_nav li {
  position: relative;
}
.foot_nav li + li:after {
  position: absolute;
  top: 0;
  left: -9.5px;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #dbdbdb;
  opacity: 0.14;
}
.foot_nav a {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.58);
}
.foot_nav b {
  font-weight: 600;
}
.footer__sns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
.footer__sns a {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.footer__sns-blog {
  background: url(../images/icon/footer_naver.svg) no-repeat center / contain;
}
.footer__sns-instagram {
  background: url(../images/icon/footer_instagrame.svg) no-repeat center / contain;
}
.footer__sns-youtube {
  background: url(../images/icon/footer_youtube.svg) no-repeat center / contain;
}
.footer__logo {
  flex-shrink: 0;
  width: 95px;
  height: 27px;
  background: url(../images/icon/footer_logo.svg) no-repeat center / contain;
  margin-right: 40px;
}
.footer_bottom {
  padding: 30px 0;
}
.footer__info-top {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: -0.28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 23px;
}
.footer__info-inner {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__info-top dl {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__info-mid {
  font-size: 11px;
  line-height: 1.5;
  color: #999999;
  margin-bottom: 22px;
}
.footer__info-bottom {
  font-size: 11px;
  color: #999999;
}
